// ::::::: Modifier Define :::::::

// ::::: flex :::::
// ::::: flex item 정렬(justify-content) :::::
// space-between & center
[class*="--flexBtw"] {
  gap: 4px;
  @include flex(flex, space-b, center);
}

// space-around & center
[class*="--flexArnd"] {
  @include flex(flex, space-a, center);
}

// space-evenly & center
[class*="--flexEven"] {
  @include flex(flex, space-e, center);
}

// space-evenly & center
[class*="--flexMid"] {
  @include flex(flex, center, center);
}

// ::::: flex item 정렬(align-items) :::::
// just align-items: center
[class*="--flexCnt"] {
  @include flex(flex, normal, center);
}

// flex-shrink: 0
[class*="--keepSize"] {
  flex-shrink: 0;
}



// ::::: text-align :::::
[class*="--alignLeft"] {
  text-align: left;
}

[class*="--alignRight"] {
  text-align: right;
}

[class*="--alignCenter"] {
  text-align: center;
}

// ::::: float :::::
[class*="--floatLeft"] {
  float: left;
}
[class*="--floatRight"] {
  float: right;
}

// ::::: division line :::::
[class*="--divLine"] {
  border-top: 8px solid #efefef;
}

// ::::: ellipsis :::::
[class*="--ellipsis"] {
  @include ellipsis;
}

// ::::: font-weight :::::
[class*="--strong"] {
  font-weight: 900;
}


