.mdm {
    .mdmEmpty {
        text-align: center;
        @include absolCnt;
        &__infoTitle {
            margin-top: 4px;
            font-size: 15px;
            font-weight: 900;
            color: #939393;
            line-height: 20px;
            letter-spacing: -.75px;
        }
        &__infoText {
            margin-top: 6px;
            font-size: 13px;
            font-weight: bold;
            color: #939393;
            line-height: 18px;
            letter-spacing: -.65px;
        }
        &__referList {
            margin-top: 20px;
            padding: 13px 20px;
            background-color: #e7eaf0;
            text-align: left;
            li {
                position: relative;
                padding-left: 10px;
                font-size: 11px;
                font-weight: bold;
                color: #909090;
                line-height: 16px;
                letter-spacing: -.55px;
                &::before {
                    content: '-';
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        &--fixWidth {
            width: 494px;
        }
    }
}