$colorDB: #dbdbdb;
$color4A: #4a4a4a;
.mdm {
    .dialog_content {
        h2 {
            padding: 0;
            margin: 0;
            em {
                margin: 0;
            }
            &::before {
                content: none;
            }
        }
        &.mdm__layer {
            .dialog_data_tit {
                h1 {
                    padding-bottom: 0;
                }
                .tit_subtext {
                    padding-top: 8px;
                }
            }
            .dialog_data_area {
                margin-top: 24px;
            }
        }
    }
    // mdm__layer
    &__layer {
        .divideBox {
            display: flex;
        }
    }
    .boardBox {
        margin-top: 20px;
    }
    .boardMenu,
    .boardList {
        .boardTitle {
            display: block;
            margin-bottom: 11px;
            font-size: 14px;
            font-weight: bold;
            color: $color4A;
            letter-spacing: -.7px;
            em {
                font-size: 14px;
                font-weight: 900;
                color: #3a77d2;
            }
        }
        .divideBox {
            .boardTitle {
                & + .boardTitle {
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 12px;
                        margin: 3px 5px 0 6px;
                        background-color: #ededed;
                        vertical-align: top;
                    }
                }
            }
        }
    }
    .boardMenu {
        min-width: 188px;
        width: 188px;
        // boardMenu__item
        &__item {
            height: calc(100% - 30px);
            border: 1px solid $colorDB;
            border-radius: 6px;
            .countZero {
                color: #b4b4b4;
            }
        }
        button {
            width: 100%;
            height: 44px;
            padding: 0 16px;
            background-color: transparent;
            border: 0;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: -.7px;
            color: $color4A;
            appearance: none;
            text-align: left;
            box-sizing: border-box;
            @include flex(flex, space-b, center);
            &:hover,
            &.active {
                font-weight: 900;
                color: #3a77d2;
                .boardMenu {
                    &__icon {
                        &--folder {
                            &::before {
                                @include spbg(17px, 14px, -101px, -20px);
                                @include absolCnt;
                            }
                        }
                        &--favorite {
                            &::before {
                                content: '';
                                @include spbg(16px, 16px, -161px, -20px);
                                @include absolCnt;
                            }
                        }
                        &--recently {
                            &::before {
                                content: '';
                                @include spbg(16px, 16px, -122px, -20px);
                                @include absolCnt;
                            }
                        }
                        &--my {
                            &::before {
                                content: '';
                                @include spbg(15px, 15px, -142px, -20px);
                                @include absolCnt;
                            }
                        }
                    }
                }
            }
        }
        // borderMenu__icon
        &__icon {
            display: inline-block;
            position: relative;
            width: 18px;
            height: 18px;
            margin-right: 8px;
            vertical-align: top;
            &--folder {
                &::before {
                    content: '';
                    @include spbg(17px, 14px, -101px, 0);
                    @include absolCnt;
                }
            }
            &--favorite {
                &::before {
                    content: '';
                    @include spbg(16px, 16px, -161px, 0);
                    @include absolCnt;
                }
            }
            &--recently {
                &::before {
                    content: '';
                    @include spbg(16px, 16px, -122px, 0);
                    @include absolCnt;
                }
            }
            &--my {
                &::before {
                    content: '';
                    @include spbg(15px, 15px, -142px, 0);
                    @include absolCnt;
                }
            }
        }
    }
    .boardList {
        flex: 1;
        margin-left: 8px;
        &:only-child {
            margin-left: 0;
        }
        // boardList__card
        &__card {
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 440px;
            min-height: 430px;
            padding: 9px;
            background-color: #fafafa;
            border: 1px solid $colorDB;
            border-radius: 6px;
            box-sizing: border-box;
            ul {
                display: flex;
                flex-wrap: wrap;
                margin: -5px;
            }
            li {
                overflow: hidden;
                width: 183px;
                min-width: 183px;
                height: 208px;
                margin: 5px;
                border: 1px solid #e6e6e6;
                border-radius: 6px;
                box-sizing: border-box;
                &:hover {
                    border-color: #3a77d2;
                    .boardList {
                        &__loadButton {
                            border-color: #3a77d2;
                            color: #3a77d2;
                        }
                    }
                }
            }
            .empty_area {
                font-size: 14px;
                color: #939393;
                letter-spacing: -.7px;
                @include absolCnt;
            }
        }
        // boardList__thumb
        &__thumb {
            position: relative;
            height: 102px;
            img {
                width: 100%;
                max-width: 100%;
                height: 100%;
            }
        }
        // boardList__text
        &__text {
            padding: 12px;
            box-sizing: border-box;
        }
        // boardList__title
        &__title {
            font-size: 14px;
            font-weight: bold;
            color: $color4A;
            letter-spacing: -.7px;
            @include ellipsis;
            .highlight {
                font-weight: 900;
                color: #3a77d2;
            }
        }
        // boardList__info
        &__info {
            margin-top: 2px;
            span {
                font-size: 12px;
                font-weight: bold;
                color: #939393;
                letter-spacing: -.6px;
            }
        }
        // boardList__buttonBox
        &__buttonBox {
            margin-top: 12px;
            text-align: center;
        }
        // boardList__loadButton
        &__loadButton {
            height: 30px;
            padding: 0 10px;
            background-color: #fff;
            border: 1px solid #b4b4b4;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
            color: $color4A;
            letter-spacing: -.7px;
            appearance: none;
            box-sizing: border-box;
        }
        // boardList__favoirteCheck
        &__favoriteCheck {
            position: absolute;
            top: 8px;
            left: 12px;
            width: 24px;
            height: 24px;
            vertical-align: top;
            z-index: 10;
            input {
                position: absolute;
                top: 0;
                width: 24px;
                height: 24px;
                opacity: 0;
                &:checked {
                    & ~ {
                        .icon__favorite {
                            background-position: -205px 0;
                        }
                    }
                }
            }
            .icon {
                &__favorite {
                    width: 19px;
                    height: 19px;
                    border: 0;
                    appearance: none;
                    @include spbg(19px, 19px, -181px, 0);
                    @include absolCnt;
                }
            }
        }
    }
}
.buttonList {
    display: flex;
    // buttonList__item
    &__item {
        position: relative;
        width: 100%;
        height: 123px;
        border: 1px solid $colorDB;
        border-radius: 6px;
        background-color: #fff;
        font-size: 14px;
        font-weight: 700;
        color: $color4A;
        letter-spacing: -.7px;
        appearance: none;
        box-sizing: border-box;
        & + & {
            margin-left: 10px;
        }
        .icon {
            position: relative;
            display: block;
            width: 52px;
            height: 52px;
            margin: 0 auto 9px;
            &--bg {
                background-color: #f4f4f4;
                border-radius: 100%;
            }
        }
        &--new {
            .icon {
                &::before {
                    content: '';
                    @include absolCnt;
                    @include spbg(45px, 47px, -52px, 0);
                }
            }
        }
        &--upload {
            .icon {
                &::before {
                    content: '';
                    @include absolCnt;
                    @include spbg(47px, 40px, 0, 0);
                }
            }
        }
        &--storage {
            .icon {
                &::before {
                    content: '';
                    @include absolCnt;
                    @include spbg(28px, 27px, 0, -80px);
                }
            }
        }
        &--download {
            .icon {
                &::before {
                    content: '';
                    @include absolCnt;
                    @include spbg(23px, 24px, -33px, -80px);
                }
            }
        }
        &--active {
            border-color: #3a77d2;
            .buttonList {
                &__checkIcon {
                    background-position: -25px -52px;
                }
            }
        }
        &:hover {
            border-color: #3a77d2;
        }
    }
    // buttonList__checkIcon
    &__checkIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        background-image: url(/svc/mdm/img/sp_mdm.png);
        width: 20px;
        height: 20px;
        background-position: 0 -52px;
        background-size: 250px 250px;
        -webkit-background-size: 250px 250px;
    }
}
// shareLink
.shareLink {
    &__title {
        font-size: 13px;
        font-weight: 900;
        letter-spacing: -.65px;
        color: #4a4a4a;
        span {
            margin-left: 6px;
            font-size: 12px;
            font-weight: normal;
            letter-spacing: -.6px;
        }
    }
}
// shareURL
.shareUrl {
    margin-top: 10px;
    padding: 20px 16px;
    background-color: #f8f8f8;
    border-radius: 4px;
    &__title {
        font-size: 13px;
        font-weight: bold;
        color: #000;
        letter-spacing: -.65px;
        span {
            margin-left: 6px;
            font-size: 12px;
            font-weight: normal;
            color: #4a4a4a;
            letter-spacing: -.6px;
        }
    }
    &__input {
        margin-top: 10px;
    }
    &__copyButton {
        position: absolute;
        top: 50%;
        right: 6px;
        padding: 10px;
        border: 0;
        background-color: transparent;
        appearance: none;
        transform: translateY(-50%);
        &::after {
            content: '';
            @include absolCnt;
            @include spbg(17px, 8px, -102px, -40px);
        }

    }
}
.defineBox {
    dl {
        display: flex;
        flex: 1;
        align-items: center;
        & + dl {
            margin-left: 10px;
        }
        dt {
            min-width: 56px;
        }
        &:only-child {
            dd {
                flex: 1;
            }
        }
    }
    .def {
        & + .def {
            margin-top: 16px;
        }
    }
}
.mindHelper {
    li {
        height: 42px;
        padding: 0 12px;
        margin-top: 8px;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        box-sizing: border-box;
        @include flex(flex, space-b, center);
        &:first-of-type {
            margin-top: 0;
        }
    }
    &__label {
        height: 21px;
        padding: 0 4px;
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 4px;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        letter-spacing: -.65px;
        line-height: 21px;
        box-sizing: border-box;
        &--add {
            background-color: #00d84c;
        }
        &--delete {
            background-color: rgba(255,0,0,.8);
            text-decoration: line-through;
        }
        &--change {
            background-color: #3a77d2;
        }
    }
}