// ::: Font :::
$dzFont: douzone,"Microsoft YaHei","PingFang SC","MS PGothic","Hiragino Kaku Gothic ProN","굴림",gulim,"Apple SD Gothic Neo",sans-serif !important;
$dztFont : douzonetitle,"Microsoft YaHei","PingFang SC","MS PGothic","Hiragino Kaku Gothic ProN","굴림",gulim,"Apple SD Gothic Neo",sans-serif !important;

// ::: Sprite image url :::
$spUrl: "/svc/mdm/img/sp_mdm.png";
$spSize: 250px 250px;

$spIcon: "https://static.wehago.com/imgs/common/sp_icon.png";
$spIconSize: 500px 1000px;

// ::: Color :::
$blue: #3a77d2;
$cyan: #13bad2;
$red: #fc5356;
$orange: #ffa018;
$yellow: #febc2c;
$green: #1fc47c;
$purple: #7349fd;
$gray: #777;

// ::: Common style variable :::
$headerHeight: 46px;
$paddingSide: 0 16px;

// ::: thumbBox--** :::
@for $i from 20 through 50 {
  .mdm .thumbBox.thumbBox--#{$i} {
    width: ($i + 0px);
    height: ($i + 0px);
  }
}