.svm {
  &Content {
    // svmContent--certify
    &--certify {
      padding: 24px 20px;

      .inputTextBox {
        margin-top: 16px;
      }

      .certifyNum {
        margin-top: 52px;
      }

      .redialBox {
        margin-top: 24px;
        text-align: center;

        .basicBtn {
          min-width: 122px;
        }
      }
    }

  }
}
