@charset "UTF-8";
body{margin:0;padding:0;overflow-wrap:break-word;-webkit-text-size-adjust:none;text-size-adjust:none}
button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,select,table,td,textarea,th,tr,ul{margin:0;padding:0}
img{max-width:100%;height:auto}
[class]{margin:0;padding:0;box-sizing:border-box;list-style:none;border:0;background-color:transparent;border-collapse:collapse;border-spacing:0;-webkit-appearance:none;appearance:none}
[class]::after,[class]::before{box-sizing:border-box}
.wfmProfile__thumb--20{width:20px;height:20px}
.wfmProfile__thumb--21{width:21px;height:21px}
.wfmProfile__thumb--22{width:22px;height:22px}
.wfmProfile__thumb--23{width:23px;height:23px}
.wfmProfile__thumb--24{width:24px;height:24px}
.wfmProfile__thumb--25{width:25px;height:25px}
.wfmProfile__thumb--26{width:26px;height:26px}
.wfmProfile__thumb--27{width:27px;height:27px}
.wfmProfile__thumb--28{width:28px;height:28px}
.wfmProfile__thumb--29{width:29px;height:29px}
.wfmProfile__thumb--30{width:30px;height:30px}
.wfmProfile__thumb--31{width:31px;height:31px}
.wfmProfile__thumb--32{width:32px;height:32px}
.wfmProfile__thumb--33{width:33px;height:33px}
.wfmProfile__thumb--34{width:34px;height:34px}
.wfmProfile__thumb--35{width:35px;height:35px}
.wfmProfile__thumb--36{width:36px;height:36px}
.wfmProfile__thumb--37{width:37px;height:37px}
.wfmProfile__thumb--38{width:38px;height:38px}
.wfmProfile__thumb--39{width:39px;height:39px}
.wfmProfile__thumb--40{width:40px;height:40px}
.wfmProfile__thumb--41{width:41px;height:41px}
.wfmProfile__thumb--42{width:42px;height:42px}
.wfmProfile__thumb--43{width:43px;height:43px}
.wfmProfile__thumb--44{width:44px;height:44px}
.wfmProfile__thumb--45{width:45px;height:45px}
.wfmProfile__thumb--46{width:46px;height:46px}
.wfmProfile__thumb--47{width:47px;height:47px}
.wfmProfile__thumb--48{width:48px;height:48px}
.wfmProfile__thumb--49{width:49px;height:49px}
.wfmProfile__thumb--50{width:50px;height:50px}
.wfmProfile__thumb--51{width:51px;height:51px}
.wfmProfile__thumb--52{width:52px;height:52px}
.wfmProfile__thumb--53{width:53px;height:53px}
.wfmProfile__thumb--54{width:54px;height:54px}
.wfmProfile__thumb--55{width:55px;height:55px}
.wfmProfile__thumb--56{width:56px;height:56px}
.wfmProfile__thumb--57{width:57px;height:57px}
.wfmProfile__thumb--58{width:58px;height:58px}
.wfmProfile__thumb--59{width:59px;height:59px}
.wfmProfile__thumb--60{width:60px;height:60px}
.wfmProfile__thumb--61{width:61px;height:61px}
.wfmProfile__thumb--62{width:62px;height:62px}
.wfmProfile__thumb--63{width:63px;height:63px}
.wfmProfile__thumb--64{width:64px;height:64px}
.wfmProfile__thumb--65{width:65px;height:65px}
.wfmProfile__thumb--66{width:66px;height:66px}
.wfmProfile__thumb--67{width:67px;height:67px}
.wfmProfile__thumb--68{width:68px;height:68px}
.wfmProfile__thumb--69{width:69px;height:69px}
.wfmProfile__thumb--70{width:70px;height:70px}
.wfmProfile__thumb--71{width:71px;height:71px}
.wfmProfile__thumb--72{width:72px;height:72px}
.wfmProfile__thumb--73{width:73px;height:73px}
.wfmProfile__thumb--74{width:74px;height:74px}
.wfmProfile__thumb--75{width:75px;height:75px}
.wfmProfile__thumb--76{width:76px;height:76px}
.wfmProfile__thumb--77{width:77px;height:77px}
.wfmProfile__thumb--78{width:78px;height:78px}
.wfmProfile__thumb--79{width:79px;height:79px}
.wfmProfile__thumb--80{width:80px;height:80px}
.pictGrid--pic1{grid-template-columns:1fr 1fr}
.pictGrid--pic2{grid-template-columns:1fr 1fr}
.pictGrid--pic3{grid-template-columns:1fr 1fr}
.pictGrid--pic4{grid-template-columns:1fr 1fr}
.icon--replyss{display:inline-block;vertical-align:top;width:12px;height:11px;background:url(/svc/wfm/img/sp_wfm.png) -75px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__rowListItem .icon--replyss{margin-top:-1px;margin-right:4px}
.icon--viewss{display:inline-block;vertical-align:top;width:13px;height:10px;background:url(/svc/wfm/img/sp_wfm.png) -58px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__rowListItem .icon--viewss{margin-top:-1px;margin-left:7px;margin-right:4px}
.wfmCategory__link .icon{flex-shrink:0;position:relative;display:inline-block;vertical-align:top;margin-top:11px;margin-right:12px;width:24px;height:24px}
.icon--board::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:18px;height:21px;background:url(/svc/wfm/img/sp_wfm.png) 0 -22px no-repeat;background-size:500px 500px}
.icon--blog::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:19px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -47px -22px no-repeat;background-size:500px 500px}
.icon--gallery::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:19px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -23px -22px no-repeat;background-size:500px 500px}
.icon--feed::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:21px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -406px -24px no-repeat;background-size:500px 500px}
.icon--quicklink::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:22px;height:12px;background:url(/svc/wfm/img/sp_wfm.png) -289px -22px no-repeat;background-size:500px 500px}
.icon--heart{display:inline-block;vertical-align:top;width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -312px 0 no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.icon--heartOn{display:inline-block;vertical-align:top;width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -336px 0 no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.icon--heartss{display:inline-block;vertical-align:top;width:16px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -20px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.icon--heartssOn{display:inline-block;vertical-align:top;width:16px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -39px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.icon--reply{display:inline-block;vertical-align:top;width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -119px -22px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
*{font-family:douzone,"Microsoft YaHei","PingFang SC","MS PGothic","Hiragino Kaku Gothic ProN","굴림",gulim,"Apple SD Gothic Neo",sans-serif!important}
.blind{overflow:hidden!important;position:absolute!important;z-index:-1;width:1px!important;height:1px!important;border:0;clip:rect(1px 1px 1px 1px)!important;clip-path:inset(50%)}
.blindInline{overflow:hidden!important;display:inline-block;position:relative!important;z-index:-1;width:1px!important;height:1px!important;border:0;clip:rect(1px 1px 1px 1px)!important;clip-path:inset(50%)}
.wfmColor--blue{color:#2d80cd}
.wfmColor--red{color:#fc5356}
.wfmColor--orange{color:#ffa018}
.wfmColor--green{color:#1fc47c}
.wfmEmp{color:#2d80cd!important}
.wfm .basictxt{font-size:14px;font-weight:700;color:#222}
.wfm__badge{display:inline-block;vertical-align:top;padding:0 5px;height:16px;background:#fc5356;border-radius:10px;text-align:center;font-size:10px;font-weight:400;line-height:17px;color:#fff}
.wfm__label{display:inline-block;vertical-align:top;padding:0 4px;height:18px;border:1px solid #999;background:#999;border-radius:4px;font-size:12px;font-weight:400;line-height:19px;letter-spacing:-.24px;color:#fff}
.wfm__label--notice{border-color:#ffebeb;background-color:#ffebeb;color:#fc5356}
.wfm__label--master{border-color:#dd9c0b;background-color:#fff;color:#dd9c0b}
.wfm__required{position:relative;display:inline-block;vertical-align:top;width:8px;height:15px;color:transparent;overflow:hidden}
.wfm__required::before{content:'*';position:relative;display:inline-block;width:100%;text-align:right;font-size:12px;color:#fc5356}
.wfm__basicBtn{padding:0 12px;height:32px;border:1px solid #ededed;background:#fff;border-radius:4px;font-size:12px;line-height:33px;letter-spacing:-.24px;color:#939393}
.wfm__basicBtn--round{border-radius:20px}
.wfm__basicBtn--active{background-color:#2d80cd;box-shadow:0 2px 4px 0 rgba(0,94,221,.2);color:#fff}
.wfm__primaryBtn{padding:0 24px;height:48px;border:1px solid #ededed;background:#fff;border-radius:8px;font-size:14px;line-height:33px;letter-spacing:-.24px;color:#939393}
.wfm__primaryBtn--round{border-radius:20px}
.wfm__primaryBtn--blue{border-color:#2d80cd;background-color:#2d80cd;color:#fff}
.wfm__selectBox{position:relative}
.wfm__selectBox::before{content:'';position:absolute;top:50%;right:0;transform:translateY(-50%);width:9px;height:5px;background:url(/svc/wfm/img/sp_wfm.png) -175px -48px no-repeat;background-size:500px 500px}
.wfm__select{position:relative;padding:0 15px 0 8px;height:32px;border:0;font-size:14px;color:#222;outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.wfm__moreToggle{position:relative;padding:3px 18px 3px 10px}
.wfm__moreToggle::before{content:'';position:absolute;top:50%;right:0;margin-top:-3px;width:9px;height:5px;background:url(/svc/wfm/img/sp_wfm.png) -175px -48px no-repeat;background-size:500px 500px}
.wfm__moreToggle--open::before{transform:rotate(180deg)}
.wfmHeader{position:fixed;z-index:5;top:0;left:0;right:0;padding:0 16px;height:46px;background:#2d80cd;display:flex;justify-content:space-between;align-items:center}
.wfmHeader__wrap{padding-bottom:46px}
.wfmHeader__box{display:flex;justify-content:normal;align-items:center}
.wfmHeader__link{display:inline-block;vertical-align:top;text-decoration:none}
.wfmHeader__logo{transform:translateY(-1px);display:inline-block;vertical-align:top;width:22px;height:21px;background:url(/svc/wfm/img/sp_wfm.png) -384px 0 no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfmHeader__logo--back{margin-top:4px;display:inline-block;vertical-align:top;width:18px;height:16px;background:url(/svc/wfm/img/sp_wfm.png) -91px 0 no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfmHeader__logo--close{margin-top:3px;display:inline-block;vertical-align:top;width:16px;height:16px;background:url(/svc/wfm/img/sp_wfm.png) -23px 0 no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfmHeader__title{position:relative;font-size:18px;line-height:22px;color:#fff}
.wfmHeader__title::before{content:'';display:inline-block;vertical-align:top;margin:0 8px 0 8px;width:1px;height:22px;background:rgba(255,255,255,.24)}
.wfmHeader__title--emp{margin-left:4px;font-weight:700}
.wfm__btnGnb{position:relative;width:25px;height:25px;color:transparent;overflow:hidden}
.wfm__btnGnb::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:18px;height:16px;background:url(/svc/wfm/img/sp_wfm.png) 0 0 no-repeat;background-size:500px 500px}
.wfm__btnGuide{position:relative;width:25px;height:25px;color:transparent;overflow:hidden}
.wfm__btnGuide::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:20px;height:20px;background:url(/svc/wfm/img/sp_wfm.png) -360px 0 no-repeat;background-size:500px 500px}
.wfm__btnHome{position:relative;width:25px;height:25px;color:transparent;overflow:hidden}
.wfm__btnHome::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:18px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -43px 0 no-repeat;background-size:500px 500px}
.wfm__btnUserWrite{position:relative;width:25px;height:25px;color:transparent;overflow:hidden}
.wfm__btnUserWrite::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:21px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -66px 0 no-repeat;background-size:500px 500px}
.wfm__btnLike{font-size:14px}
.wfm__btnLike--active{font-weight:700;color:#fc5356}
.wfm__btnLike--active .icon--heart{display:inline-block;vertical-align:top;width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -336px 0 no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__btnLike--active .icon--heartss{display:inline-block;vertical-align:top;width:16px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -39px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__btnText{padding:4px;border:0;background:0 0;font-size:16px;color:#fff}
.wfm__btnEnd{font-size:12px;color:#2d80cd;text-decoration:underline;letter-spacing:-.24px}
.wfm__divideLine{width:1px;height:10px;margin:0 7px;background-color:#e5e5e5}
.wfm__sticky{position:sticky;z-index:5;top:0;left:0;right:0}
.wfm__sticky--top46{top:46px}
.wfmDivide{display:flex;justify-content:space-between;align-items:center}
.wfmDivide__item{min-width:0}
.wfmDivide__item+.wfmDivide__item{flex-shrink:0}
.wfm__visualBox{position:relative;padding:0 16px;min-height:98px;background:#2d80cd;overflow:hidden;display:flex;justify-content:normal;align-items:center}
.wfm__visualBox::before{content:'';position:absolute;bottom:-45px;left:0;width:70px;height:79px;background-image:url(/svc/wfm/img/visual_pattern_left.png);background-size:contain;background-repeat:no-repeat}
.wfm__visualBox::after{content:'';position:absolute;bottom:0;right:0;width:154px;height:186px;background-image:url(/svc/wfm/img/visual_pattern_right.png);background-size:contain;background-repeat:no-repeat}
.wfm__thumbIcon{display:inline-block;vertical-align:top;width:48px;height:48px;border-radius:12px}
.wfm__thumbImgBox{position:relative;display:inline-block;vertical-align:top;width:100%;height:100%;background:#deefff;border-radius:inherit;overflow:hidden}
.wfm__thumbImg{position:absolute;top:0;left:0;width:100%;height:100%;background-position:50% 50%;background-size:cover;background-repeat:no-repeat;color:transparent}
.wfm__thumbImg--user::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:19px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -183px 0 no-repeat;background-size:500px 500px}
.wfm__thumbImg--comp::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:18px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -206px 0 no-repeat;background-size:500px 500px}
.wfm__searchBar{position:relative;width:178px;height:36px}
.wfm__searchBarInput{padding:0 45px 0 12px;width:100%;height:100%;border:1px solid #ededed;background:#fff;border-radius:25px;font-size:14px;color:#4a4a4a;outline:0}
.wfm__searchBarInput::placeholder{color:#71879d}
.wfm__searchBarBtn{position:absolute;top:0;right:0;width:40px;height:35px;color:transparent;overflow:hidden}
.wfm__searchBarBtn::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:14px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -108px -48px no-repeat;background-size:500px 500px}
.wfm__btnSubmit{font-size:16px;color:#fff;letter-spacing:-.32px}
.wfm__btnVote{position:relative;font-size:14px;color:#2d80cd;letter-spacing:-.28px}
.wfm__btnVote::after{content:'';margin-top:4px;margin-left:6px;display:inline-block;vertical-align:top;width:5px;height:9px;background:url(/svc/wfm/img/sp_wfm.png) -188px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__btnBoardSelect{position:relative;width:100%;min-height:48px;padding-left:16px;padding-right:16px;border:0;background-color:transparent;font-size:14px;color:#b4b4b4;letter-spacing:-.28px;appearance:none;text-align:left;box-sizing:border-box}
.wfm__btnBoardSelect::after{content:'';position:absolute;top:50%;right:21px;transform:translateY(-50%);display:inline-block;vertical-align:top;width:13px;height:7px;background:url(/svc/wfm/img/sp_wfm.png) -158px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__btnBoardSelect em{font-style:normal;color:#2d80cd}
.wfm__btnBoardadd{position:relative;padding-left:43px;padding-right:16px;width:100%;height:100%;border:0;background-color:transparent;text-align:left;font-size:14px;letter-spacing:-.28px;color:#b4b4b4}
.wfm__btnBoardadd::before{content:'';position:absolute;top:16px;left:14px;width:14px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -341px -24px no-repeat;background-size:500px 500px}
.wfm__btnDatepick{position:relative;padding-left:52px;padding-right:16px;width:100%;height:100%;border:0;background-color:transparent;text-align:left;font-size:14px;letter-spacing:-.28px}
.wfm__btnDatepick::before{content:'';position:absolute;top:15px;left:19px;width:18px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -241px -22px no-repeat;background-size:500px 500px}
.wfm__btnDatepick--right{position:relative;font-size:14px;letter-spacing:-.28px;color:#222}
.wfm__btnDatepick--right::after{content:'';margin-top:6px;margin-left:4px;display:inline-block;vertical-align:top;width:9px;height:5px;background:url(/svc/wfm/img/sp_wfm.png) -175px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__btnDatepick--picked{padding-left:52px;padding-right:30px;height:48px;background:#f7f8fa;font-size:14px;color:#222;display:flex;justify-content:space-between;align-items:center}
.wfm__btnFileAdd{position:absolute;top:0;right:0;width:24px;height:24px;padding:24px}
.wfm__btnFileAdd::before{content:'';position:absolute;top:50%;right:19px;transform:translateY(-50%);display:inline-block;vertical-align:top;width:18px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -197px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__btnMore{position:relative;width:24px;height:24px}
.wfm__btnMore::before{content:'';display:inline-block;vertical-align:top;width:4px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -304px 0 no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__btnMore--gray::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:4px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -296px 0 no-repeat;background-size:500px 500px}
.wfm__btnSwitch .switchInput{opacity:0;position:absolute}
.wfm__btnSwitch .switchInput:checked~.switchIcon{background-color:#2d80cd}
.wfm__btnSwitch .switchInput:checked~.switchIcon::before{left:auto;right:2px}
.wfm__btnSwitch .switchIcon{display:inline-block;position:relative;width:44px;height:24px;background-color:#d3d3d3;border-radius:20px;line-height:24px;vertical-align:middle}
.wfm__btnSwitch .switchIcon::before{content:'';position:absolute;top:50%;left:2px;width:20px;height:20px;border-radius:100%;background-color:#fff;transform:translateY(-50%)}
.wfm__btnLink{width:24px;height:24px}
.wfm__btnLink::before{content:'';display:inline-block;vertical-align:top;width:20px;height:20px;background:url(/svc/wfm/img/sp_wfm.png) -190px -22px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfm__btnPhoto{position:relative;width:50px;height:48px;color:transparent;overflow:hidden}
.wfm__btnPhoto::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -380px -24px no-repeat;background-size:500px 500px}
.wfm__tab{position:relative;padding:0 16px;height:40px;background:#fff;border-bottom:1px solid #ededed;display:flex;justify-content:normal;align-items:center}
.wfm__tabBtn{flex:1;position:relative;width:100%;height:100%;font-size:14px;letter-spacing:-.28px;color:#b4b4b4;display:flex;justify-content:center;align-items:center}
.wfm__tabBtn--active{font-weight:700;color:#2d80cd}
.wfm__tabBtn--active::before{content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background:#2d80cd}
.wfm__rowList{font-size:12px;letter-spacing:-.24px;color:#939393;display:flex;justify-content:normal;align-items:center}
.wfm__rowListItem{position:relative;min-width:0;display:flex;justify-content:normal;align-items:center}
.wfm__rowListItem+.wfm__rowListItem:before{content:'';display:inline-block;margin:-2px 8px 0 8px;width:1px;height:11px;background:#e5e5e5}
.wfm__rowListDesc{min-width:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmDivide__item .wfm__rowList{margin-top:4px}
.wfmProfile{min-width:0;text-decoration:none;color:#222;display:flex;justify-content:normal;align-items:center}
.wfmProfileList{margin-top:4px}
.wfmProfile__item{min-width:0}
.wfmProfile__thumb{flex-shrink:0;border-radius:50%}
.wfmProfile__info{display:flex;justify-content:normal;align-items:center}
.wfmProfile__info .wfmReply__replyDesc{margin-top:0}
.wfmProfile__name{font-size:14px;font-weight:700;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmProfile__name+.wfm__label{flex-shrink:0;margin-left:4px}
.wfmProfile__num{margin-left:4px}
.wfmProfile__date{flex-shrink:0;margin-top:1px;font-size:12px;color:#939393;letter-spacing:-.24px}
.wfmProfile__divideLine{display:inline-block;width:1px;height:10px;margin:0 8px 0 6px;background-color:#e5e5e5}
.wfmProfile__subInfo{margin-top:4px;font-size:11px;color:#666;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmProfileList__group .wfmProfile{padding:0 16px;height:64px}
.wfmProfileList__group .wfmProfile .wfmProfile__item{margin-left:12px}
.wfmInfoList__item{padding:12px 0 10px 0}
.wfmInfoList__item:not(:first-of-type){border-top:1px solid #ededed}
.wfmInfoList__term{margin-bottom:8px;font-size:12px;letter-spacing:-.24px;color:#939393}
.wfmInfoList__desc{font-size:14px;letter-spacing:-.28px;color:#222}
.wfmReply__replyGroup{position:relative;margin-top:5px;padding-left:40px}
.wfmReply__replyGroup+.wfmReply__replyGroup{margin-top:27px}
.wfmReply__replyGroup .wfmProfile__thumb{position:absolute;top:-5px;left:0}
.wfmReply__replyGroup .wfm__btnMore--gray{flex-shrink:0;margin-left:10px;color:transparent;overflow:hidden}
.wfmReply__replyGroup .wfmBoard__attach{margin-top:8px;padding:0}
.wfmReply__replyGroup .wfmBoard__attach li:not(:first-of-type){margin-top:4px;border-top:0}
.wfmReply__replyGroup .wfmBoard__attach li a{padding:7px 30px 6px}
.wfmReply__replyGroup .wfmBoard__attach li .attachIcon{top:6px}
.wfmReply__replyGroup .btnBox{margin-top:4px;display:flex;justify-content:normal;align-items:center}
.wfmReply__replyGroup .btnAnswer{height:20px;border:0;background:0;font-size:12px;color:#71879d}
.wfmReply__replyGroup .wfmReply__replyGroup{margin-top:25px;padding-left:32px}
.wfmReply__replyGroup .wfmReply__replyGroup .wfmProfile__thumb{top:-1px}
.wfmReply__replyGroup .wfm__btnLike{padding:0 5px;height:21px;font-size:12px}
.wfmReply__replyGroup .wfm__btnLike .icon--heartss{margin-top:1px;margin-right:4px}
.wfmReply__replyDesc{margin-top:8px;font-size:14px;line-height:20px;letter-spacing:-.28px;color:#222}
.wfmReply__inputGroup{position:fixed;bottom:0;left:0;right:0;z-index:1;border-top:1px solid #efefef;background:#fff}
.wfmReply__file{position:absolute;bottom:0;left:8px;width:35px;height:56px}
.wfmReply__file::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:18px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -144px -22px no-repeat;background-size:500px 500px}
.wfmReply__file--active::before{width:18px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -167px -22px no-repeat;background-size:500px 500px}
.wfmReply__inputBox{padding:17px 50px 18px 45px;min-height:55px}
.wfmReply__input{padding:0 7px 0 2px;max-height:110px;overflow-y:auto;font-size:14px;line-height:20px;letter-spacing:-.28px;color:#222;word-break:break-all;outline:0}
.wfmReply__placeholder{font-size:14px;color:#b4b4b4}
.wfmReply__submit{position:absolute;bottom:0;right:6px;width:45px;height:56px;font-size:14px;font-weight:700;color:#b4b4b4}
.wfmPhotoList{overflow-x:auto;white-space:nowrap}
.wfmPhotoList__item{position:relative;display:inline-block;vertical-align:top;margin-top:15px;width:120px;height:120px;border:1px solid rgba(0,0,0,.16);background-repeat:no-repeat;background-position:center center;background-size:cover}
.wfmPhotoList__item:not(:first-of-type){margin-left:12px}
.wfmPhotoList__btnDel{position:absolute;top:-18px;right:-18px;width:36px;height:36px}
.wfmPhotoList__btnDel::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:26px;height:26px;background:url(/svc/wfm/img/sp_wfm.png) -433px -24px no-repeat;background-size:500px 500px}
.wfmVoteBox{border-top:1px solid #ededed}
.wfmWrtingVote{margin:16px 16px 0;border:1px solid #e5e5e5;border-radius:6px}
.wfmVoteList{flex:1;min-height:48px;padding:0 16px;box-sizing:border-box}
.wfmVoteList__box{padding:16px;background-color:#f7f8fa;border-top:1px solid #ededed}
.wfmVoteList__box li{position:relative;margin-top:8px;background-color:#fff;border:1px solid #e5e5e5;border-radius:8px}
.wfmVoteList__box li:first-of-type{margin-top:0}
.wfmVoteList__box li a{display:block;text-decoration:none}
.wfmVoteList__item{position:relative;padding:11px 16px 11px 42px;box-sizing:border-box}
.wfmVoteList__item::before{content:'';position:absolute;top:13px;left:18px;width:14px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -125px -48px no-repeat;background-size:500px 500px}
.wfmVoteList__title{font-size:14px;font-weight:700;color:#222;letter-spacing:-.28px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmVoteList__guide{display:block;margin-top:2px;font-size:11px;font-weight:400;color:#939393;letter-spacing:-.22px}
.wfmVoteList__date{display:flex;align-items:center;margin-top:8px}
.wfmVoteList__label{min-width:34px;margin-right:4px;padding:2px 4px 1px;border-radius:8px;background-color:#2d80cd;font-size:10px;color:#fff;letter-spacing:-.2px;text-align:center}
.wfmVoteList__label--end{background-color:#d3d3d3}
.wfmVoteList__day{font-size:11px;color:#939393;letter-spacing:-.22px}
.wfmVoteList__select label{display:inline-block}
.wfmVoteList__select .voteCheckIcon{width:18px;height:18px;display:inline-block;vertical-align:top;width:18px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -229px 0 no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfmVoteList__select input:checked+.voteCheckIcon{background-position:-273px 0}
.wfmVoteList__select li{display:flex;align-items:center;min-height:52px;padding:0 16px;border-top:1px solid #ededed;box-sizing:border-box}
.wfmVoteList__select li.checked .wfmVoteList__title{color:#2d80cd;font-weight:700}
.wfmVoteList__select li.checked .wfmVoteList__stats em{color:#2d80cd}
.wfmVoteList__select li.disabled .voteCheckIcon{background-position:-251px 0}
.wfmVoteList__check{width:18px;height:18px;margin-right:12px}
.wfmVoteList__result{flex:1}
.wfmVoteList__info{display:flex;align-items:center;justify-content:space-between}
.wfmVoteList__stats{position:relative;padding-right:13px;font-size:12px;color:#939393;letter-spacing:-.24px;text-decoration:none}
.wfmVoteList__stats::after{content:'';position:absolute;top:50%;right:0;margin-top:-3px;transform:rotate(270deg);display:inline-block;vertical-align:top;width:9px;height:5px;background:url(/svc/wfm/img/sp_wfm.png) -175px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfmVoteList__stats em{font-style:normal;font-weight:700;color:#222}
.wfmVoteList__bar{overflow:hidden;position:relative;width:100%;height:4px;margin-top:5px;border-radius:2px;background-color:#e5e5e5}
.wfmVoteList__percent{display:inline-block;position:relative;height:4px;background-color:#2d80cd;vertical-align:top}
.wfmPageList li{border-top:1px solid #ededed}
.wfmPageList a{display:block;padding:0 16px;font-size:14px;color:#222;text-decoration:none;letter-spacing:-.28px;box-sizing:border-box}
.wfmPageList__item{display:flex;align-items:center;min-height:48px;font-size:14px;letter-spacing:-.28px}
.wfmPageList__title{min-width:49px;color:#939393;white-space:nowrap}
.wfmPageList__text{color:#222;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfm .dimmed{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.15);z-index:10}
.wfm__basicListItem{position:relative;padding-left:10px;font-size:12px;line-height:18px;color:#939393}
.wfm__basicListItem::before{content:'-';position:absolute;top:0;left:0}
.wfmInputBox{position:relative}
.wfmInputBox__inputItem{height:36px}
.wfmInputBox__input{padding-right:36px;width:100%;height:100%;border-bottom:2px solid #ddd;font-size:14px;color:#222;outline:0}
.wfmInputBox__input:focus{border-bottom-color:#2d80cd}
.wfmInputBox__input::placeholder{color:#b4b4b4}
.wfmInputBox--error .wfmInputBox__input{border-bottom-color:#fc5356}
.wfmInputBox__btnDel{position:absolute;top:0;right:0;width:36px;height:36px;color:transparent;overflow:hidden}
.wfmInputBox__btnDel::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:15px;height:15px;background:url(/svc/wfm/img/sp_wfm.png) 0 -48px no-repeat;background-size:500px 500px}
.wfmInputBox__validation{margin-top:8px;font-size:11px;line-height:14px;letter-spacing:-.22px}
.wfmInputBox--error .wfmInputBox__validation{color:#fc5356}
.wfm__spinner{position:fixed;top:46px;left:0;right:0;padding:8px;text-align:center}
.wfm__spinnerIcon{animation-timing-function:linear;animation-iteration-count:infinite;animation-name:spinner;animation-duration:.8s;animation-delay:0s}
@keyframes spinner{
0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}
.wfm__menuGroup{padding:0 16px;height:56px;background:#f7f8fa;display:flex;justify-content:space-between;align-items:center}
.wfm__menuBox{display:flex;justify-content:normal;align-items:center}
.wfm__btnCategory{position:relative;font-size:14px;font-weight:700;line-height:21px;color:#222}
.wfm__btnCategory::before{content:'';display:inline-block;vertical-align:top;width:20px;height:20px;background:url(/svc/wfm/img/sp_wfm.png) -113px 0 no-repeat;background-size:500px 500px}
.wfm__btnCategoryText{margin-left:7px}
.wfm__btnSearch{position:relative;margin-left:10px;width:35px;height:35px}
.wfm__btnSearch::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:19px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -137px 0 no-repeat;background-size:500px 500px}
.wfm__btnWrite{position:relative;margin-left:10px;width:35px;height:35px}
.wfm__btnWrite::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:19px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -160px 0 no-repeat;background-size:500px 500px}
.wfm__visualBox .wfmMain__compInfo{margin-left:13px}
.wfmMain__compName{font-size:16px;font-weight:900;color:#fff}
.wfmMain__rowList{margin-top:5px;display:flex;justify-content:normal;align-items:center}
.wfmMain__rowListItem{position:relative;font-size:12px;color:#fff;display:flex;justify-content:normal;align-items:center}
.wfmMain__rowListItem:not(:first-of-type)::before{content:'';display:inline-block;margin:-2px 5px 0 6px;width:1px;height:11px;background:#e5e5e5}
.wfmMain__rowListTerm{margin-right:3px}
.wfmMain .wfmBoard{margin-top:4px}
.wfmBoard{position:relative;background:#f5f5f5}
.wfmBoard__listTop{padding:10px 16px;border-bottom:1px solid #ededed;background:#fff}
.wfmBoard__listTop .wfmDivide__item{display:flex;justify-content:normal;align-items:center}
.wfmBoard__listTop .wfm__basicBtn+.wfm__basicBtn{margin-left:8px}
.wfmBoard__listTop .basictxt .wfmEmp{margin-left:3px}
.wfmBoard__list{background:#fff}
.wfmBoard__list--notice{margin-bottom:8px}
.wfmBoard__listItem{border-bottom:1px solid #ededed}
.wfmBoard__listItem .wfm__thumbIcon{margin-left:15px;width:56px;height:56px}
.wfmBoard__link{padding:14px 16px;text-decoration:none;color:#222}
.wfmBoard__link:active{background:#f4f7fa}
.wfmBoard__listTitle{display:inline-block;max-width:100%;font-size:14px;font-weight:900;letter-spacing:-.28px;color:#222;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmBoard__listTitle .wfm__badge{float:right;margin-top:1px;margin-left:6px}
.wfmBoard__listTitle .wfm__label--notice{margin-right:4px}
.wfmBoard__place{margin-top:7px;font-size:12px;letter-spacing:-.24px;color:#71879d;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmBoard.emptyTypeDefault{max-height:448px}
.wfmBoardGuide .wfm__visualBox{display:block;padding:16px 16px 60px}
.wfmBoardGuide .wfm__visualBox::before{bottom:-12px}
.wfmBoardGuide .boardName{display:block;font-size:18px;font-weight:900;letter-spacing:-.36px;color:#fff}
.wfmBoardGuide .boardIntro{margin-top:8px;font-size:12px;letter-spacing:-.24px;line-height:18px;color:#fff}
.wfmBoardGuide__statBox{position:relative;margin-top:-36px;padding:0 16px}
.wfmBoardGuide__statList{height:72px;background:#fff;border-radius:8px;box-shadow:0 2px 8px 0 rgba(0,0,0,.16);display:flex;justify-content:normal;align-items:center}
.wfmBoardGuide__statItem{flex:1;flex-direction:column-reverse;position:relative;padding:0 15px;display:flex;justify-content:normal;align-items:center}
.wfmBoardGuide__statItem:not(:first-of-type)::before{content:'';position:absolute;top:50%;left:0;width:1px;height:16px;background:#e5e5e5;transform:translateY(-50%)}
.wfmBoardGuide__statTerm{margin-top:4px;font-size:12px;color:#222}
.wfmBoardGuide__statDesc{font-size:14px;font-weight:700;color:#2d80cd}
.wfmBoardGuide .wfmProfileList{margin-top:20px}
.wfmBoardGuide .wfmProfileList .wfmProfile{padding:0 16px;height:64px}
.wfmBoardGuide .wfmProfileList .wfmProfile__item{margin-left:12px}
.wfmUserInfo .wfm__visualBox{padding:6px 16px 30px;flex-direction:column;display:flex;justify-content:center;align-items:center}
.wfmUserInfo .wfm__visualBox::before{bottom:-12px}
.wfmUserInfo__name{display:block;margin-top:12px;font-size:16px;font-weight:700;color:#fff}
.wfmUserInfo .wfmInfoList{margin-top:16px;padding:0 16px}
.wfmCategory{position:relative;background:#f5f5f5}
.wfmCategory__list{background:#fff}
.wfmCategory__list+.wfmCategory__list{margin-top:8px}
.wfmCategory__list--group>.wfmCategory__item{display:block;height:auto}
.wfmCategory__list--group>.wfmCategory__item:not(:first-of-type){border-top:1px solid #ededed}
.wfmCategory__item{position:relative;height:48px}
.wfmCategory__link{position:relative;padding:0 45px 0 16px;text-decoration:none;font-size:14px;line-height:48px;color:#222;display:flex;justify-content:normal;align-items:center}
.wfmCategory__link--has{height:48px;font-weight:900;display:flex;justify-content:normal;align-items:center}
.wfmCategory__link--has::before{content:'';position:absolute;top:50%;right:20px;margin-top:-4px;transition:all ease .25s;width:13px;height:7px;background:url(/svc/wfm/img/sp_wfm.png) -158px -48px no-repeat;background-size:500px 500px}
.wfmCategory__item--active .wfmCategory__link--has::before{transform:rotate(-180deg)}
.wfmCategory__title{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmCategory .wfm__badge{float:right;margin-top:15px;margin-left:4px}
.wfmSearch__topGroup{padding:12px 16px 8px}
.wfmSearchBar{position:relative}
.wfmSearchBar__input{display:inline-block;vertical-align:top;padding:0 40px;width:100%;height:36px;border:0;background:#f4f7fa;border-radius:20px;font-size:14px;color:#222;outline:0}
.wfmSearchBar__input::placeholder{color:#8595aa}
.wfmSearchBar__searchBtn{display:inline-block;position:absolute;top:0;left:4px;width:35px;height:36px;color:transparent;overflow:hidden}
.wfmSearchBar__searchBtn::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:14px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -108px -48px no-repeat;background-size:500px 500px}
.wfmSearchBar__delBtn{display:inline-block;position:absolute;top:0;right:4px;width:35px;height:36px;color:transparent;overflow:hidden}
.wfmSearchBar__delBtn::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:15px;height:15px;background:url(/svc/wfm/img/sp_wfm.png) 0 -48px no-repeat;background-size:500px 500px}
.wfmWriting{display:flex;flex-direction:column;justify-content:space-between;height:calc(100vh - 46px)}
.wfmBundle{display:flex;flex-direction:column;flex:1}
.wfmWriteBundle{padding-bottom:24px}
.wfmBoard__box{display:flex;align-items:center;position:relative;height:48px;border-top:1px solid #ededed}
.wfmBoard__box--file{padding-left:16px;padding-right:50px}
.wfmBoard__box--sizeHeight{height:64px}
.wfmBoard__box--textArea{flex:1}
.wfmBoard__box--attach{flex-direction:column;align-items:flex-start;height:auto;min-height:48px}
.wfmBoard__box--attach .wfm__btnBoardSelect{color:#222}
.wfmBoard__box--text{padding:0 45px 0 16px}
.wfmBoard__box--btnDel{position:absolute;top:4px;right:4px;width:38px;height:38px;color:transparent;overflow:hidden}
.wfmBoard__box--btnDel::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:15px;height:15px;background:url(/svc/wfm/img/sp_wfm.png) 0 -48px no-repeat;background-size:500px 500px}
.wfmBoard__photoBox{padding:13px 16px 24px;background:#f7f8fa}
.wfmBoard__supports .icon{position:relative;display:inline-block;vertical-align:top;margin-right:12px;width:24px;height:24px;background:0 0}
.wfmBoard__supports .icon--vote::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:19px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -71px -22px no-repeat;background-size:500px 500px}
.wfmBoard__supports .icon--notice::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:19px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -95px -22px no-repeat;background-size:500px 500px}
.wfmBoard__supports .icon--reply::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -119px -22px no-repeat;background-size:500px 500px}
.wfmBoard__supports .icon--doubleCheck::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:21px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -315px -22px no-repeat;background-size:500px 500px}
.wfmBoard__supports .icon--anon::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:20px;height:20px;background:url(/svc/wfm/img/sp_wfm.png) -264px -22px no-repeat;background-size:500px 500px}
.wfmBoard__supports .icon--calendar::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:18px;height:19px;background:url(/svc/wfm/img/sp_wfm.png) -241px -22px no-repeat;background-size:500px 500px}
.wfmBoard__supports .wfmBoard__box{padding:0 16px}
.wfmBoard__supports .wfmBoard__box.wfmBoard__box--date{display:block;padding:0}
.wfmBoard__supports .wfmBoard__box.wfmBoard__box--photo{padding-right:0;display:flex;justify-content:space-between;align-items:center}
.wfmBoard__listText{font-size:14px;color:#222;letter-spacing:-.28px;vertical-align:middle}
.wfmBoard__listText em{font-style:normal}
.wfmBoard__listText--count{margin-left:8px;font-size:12px;font-weight:700;color:#939393;letter-spacing:-.24px}
.wfmBoard__listText--count em{color:#2d80cd}
.wfmBoard__attach{position:relative;z-index:1;width:100%;padding:0 16px 16px;border-radius:4px;box-sizing:border-box}
.wfmBoard__attach li{position:relative;background-color:#f7f8fa;border-top:1px solid #e5e5e5;font-size:14px;color:#222;letter-spacing:-.28px;box-sizing:border-box}
.wfmBoard__attach li:first-of-type{border-top:0}
.wfmBoard__attach li a{display:block;position:relative;padding:11px 30px 10px;text-decoration:none;color:#222}
.wfmBoard__attach li a:active,.wfmBoard__attach li a:visited{color:#222}
.wfmBoard__attach .attachIcon{position:absolute;top:11px;left:8px;width:18px;height:18px}
.wfmBoard__attach .attachIcon::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:13px;height:14px;background:url(/svc/wfm/img/sp_wfm.png) -91px -48px no-repeat;background-size:500px 500px}
.wfmBoard__attach .attachDelete{position:absolute;top:11px;right:8px;width:18px;height:18px;z-index:10}
.wfmBoard__attach .attachDelete::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:10px;height:10px;background:url(/svc/wfm/img/sp_wfm.png) -144px -48px no-repeat;background-size:500px 500px}
.wfmBoard__attach .fileName{display:flex}
.wfmBoard__attach .fileName--ellipsis{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;white-space:normal}
.wfmBoard__attach .fileName--extension{display:inline-block;vertical-align:top}
.wfm__boardInput{width:100%;height:100%;font-size:14px;letter-spacing:-.28px;vertical-align:top;box-sizing:border-box}
.wfm__boardInput::placeholder{color:#b4b4b4}
.wfm__textBox{width:100%;height:100%;padding:16px;border:0;font-size:14px;letter-spacing:-.28px;resize:none;box-sizing:border-box}
.wfm__textBox::placeholder{color:#b4b4b4}
.wfm__titleTextBox{overflow:hidden;width:100%;height:100%;padding:13px 0;border:0;font-size:14px;letter-spacing:-.28px;resize:none;white-space:pre;box-sizing:border-box}
.wfm__titleTextBox::placeholder{color:#b4b4b4}
.wfmWritingBoard{padding:20px 0 0;box-sizing:border-box}
.wfmWritingBoard .wfmBundle{padding-bottom:48px}
.wfmWritingBoard .wfmBundle .wfmDivide{margin-top:16px;padding:0 16px}
.wfmWritingBoard .wfmProfile__item{margin-left:6px}
.wfmWritingBoard .wfmProfile__info{display:flex;align-items:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmWritingBoard .wfmBoard__attach{margin-top:8px;padding:8px 16px;border:1px solid #ededed;border-width:1px 0 1px;box-sizing:border-box}
.wfm__writingTitle{padding:0 16px;font-size:16px;font-weight:900;color:#4a4a4a;letter-spacing:-.32px;line-height:24px}
.wfmWritingText{margin:4px 16px 0}
.wfmWritingText p{margin-top:12px;font-size:14px;color:#222;line-height:20px;letter-spacing:-.28px}
.wfmWritingText .wfmWritingThumb{display:inline-block;overflow:hidden;max-width:100%;margin-top:8px;border:1px solid rgba(0,0,0,.06);border-radius:8px;vertical-align:top}
.wfmWritingText .wfmWritingThumb img{vertical-align:top}
.wfmCommentStatus{display:flex;align-items:center;position:fixed;bottom:0;left:0;right:0;height:48px;padding:0 16px;border-top:1px solid #ededed;background-color:#fff;box-sizing:border-box;z-index:10}
.wfmCommentStatus .wfmDivide{flex:1}
.wfmCommentStatus .wfmCommentIcon{position:relative;display:inline-block;width:24px;height:24px;vertical-align:top}
.wfmCommentStatus .wfmCount{display:inline-block;margin-top:3px;font-size:14px;color:#222;letter-spacing:-.28px;vertical-align:top}
.wfmCommentStatus a{text-decoration:none}
.wfmReplyNumber .wfmCommentIcon::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -119px -22px no-repeat;background-size:500px 500px}
.wfmWatchingNumber .wfmCommentIcon::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:22px;height:17px;background:url(/svc/wfm/img/sp_wfm.png) -214px -22px no-repeat;background-size:500px 500px}
.wfmVote{background:#f5f5f5}
.wfmVote .wfmBoard__box{background:#fff}
.wfmVote .wfmBoard__box--add{border-bottom:0}
.wfmVote .wfmBoard__supports{margin-top:8px}
.wfmVoteButtonBox{display:flex;gap:8px;padding:16px 16px 24px}
.wfmVoteButton{flex:1;height:40px;border-radius:8px;font-size:14px;letter-spacing:-.28px}
.wfmVoteButton--default{color:#222;background-color:#ededed}
.wfmVoteButton--press{color:#fff;background-color:#2d80cd}
.wfmReply{position:relative;padding:16px 16px 160px}
.wfmFeed{background:#ededed}
.wfmFeed__group{padding:12px 0 16px;background:#fff}
.wfmFeed__group+.wfmFeed__group{margin-top:8px}
.wfmFeed__post .wfmDivide{padding:0 16px}
.wfmFeed__post .wfmProfile{height:40px}
.wfmFeed__post .wfmProfile__item{margin-left:6px}
.wfmFeed__btnExport{position:relative;width:30px;height:30px;color:transparent;overflow:hidden}
.wfmFeed__btnExport::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:20px;height:20px;background:url(/svc/wfm/img/sp_wfm.png) -190px -22px no-repeat;background-size:500px 500px}
.wfmFeed__btnMore{display:inline-block;vertical-align:top;padding:0 8px;font-size:14px;line-height:inherit;color:#b4b4b4}
.wfmFeed__postContent{margin:8px 0 16px;padding:0 16px;font-size:14px;line-height:20px;letter-spacing:-.28px;color:#222}
.wfmFeed__reactionBox{padding:0 16px;height:40px;display:flex;justify-content:normal;align-items:center}
.wfmFeed .btnReaction{font-size:14px;color:#222;display:flex;justify-content:normal;align-items:center}
.wfmFeed .btnReaction+.btnReaction{margin-left:12px}
.wfmFeed .btnReaction__like .icon::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -312px 0 no-repeat;background-size:500px 500px}
.wfmFeed .btnReaction__like--active{font-weight:700;color:#fc5356}
.wfmFeed .btnReaction__like--active .icon::before{background-position:-336px 0}
.wfmFeed .btnReaction__reply .icon::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:20px;height:18px;background:url(/svc/wfm/img/sp_wfm.png) -119px -22px no-repeat;background-size:500px 500px}
.wfmFeed .btnReaction .icon{position:relative;display:inline-block;vertical-align:top;margin-right:4px;width:24px;height:24px}
.wfmFeed__likeMember{margin-top:2px;padding:0 16px;height:26px;display:flex;justify-content:normal;align-items:center}
.wfmFeed .wfmProfile__item{margin-left:8px}
.wfmFeed__memberBtn{width:100%}
.wfmFeed__reply{padding:0 16px}
.wfmFeed__replyBtn{margin-top:5px;height:20px;text-decoration:none;font-size:12px;color:#939393;display:flex;justify-content:normal;align-items:center}
.wfmFeed__reply>.wfmProfile{margin-top:6px;font-size:14px}
.wfmFeed__reply .wfmProfile__name{flex-shrink:0;max-width:75px}
.wfmFeed__reply .wfmReply__replyDesc{margin-left:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmFeed__reply--datail{margin-top:10px;padding-top:8px;padding-bottom:50px;border-top:1px solid #ededed}
.wfmFeed__reply--datail .wfmReply__replyGroup .wfmReply__replyGroup{margin-top:20px}
.wfmFeed__reply--datail .wfmProfile__item{margin-left:0}
.wfmFeed__reply--datail .wfmReply__replyDesc{white-space:inherit}
.pictGrid{display:grid;grid-gap:2px;aspect-ratio:1/1}
@supports not (aspect-ratio:1/1){
    .pictGrid .pictGrid__item{float:left;padding-top:calc(1/1 * 100%)}
}
.pictGrid--pic3 .pictGrid__item:first-of-type{grid-row:1/3}
.pictGrid--row3 .pictGrid__item:first-of-type{grid-column:1/3}
.pictGrid__item{position:relative;display:block;height:100%;border:1px solid rgba(0,0,0,.05);background-color:#eee;background-repeat:no-repeat;background-position:center center;background-size:cover}
.pictGrid__item>img{width:100%;height:100%;object-fit:cover}
.pictGrid__item--more{position:absolute;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.5);font-size:22px;font-weight:900;color:#fff;display:flex;justify-content:center;align-items:center}
.pictGrid__item--video::before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:40px;height:40px;background:url(/svc/wfm/img/sp_wfm.png) 0 -67px no-repeat;background-size:500px 500px}
@supports not (aspect-ratio:4/3){
    .pictGrid.ratio--43 .pictGrid__item{float:left;padding-top:calc(3/4 * 100%)}
}
.pictGrid.ratio--34{aspect-ratio:3/4}
@supports not (aspect-ratio:3/4){
    .pictGrid.ratio--34 .pictGrid__item{float:left;padding-top:calc(4/3 * 100%)}
}
.pictGrid.ratio--34.pictGrid--pic3 .pictGrid__item:first-of-type{grid-row:1/2;grid-column:1/3}
.wfmBottomSheet{overflow-y:auto;position:fixed;bottom:0;left:0;right:0;max-height:90%;padding:20px 0;background-color:#fff;border-radius:16px 16px 0 0;box-sizing:border-box;z-index:10}
.wfmBottomSheet::before{content:'';position:absolute;top:8px;left:50%;width:36px;height:4px;background-color:#939393;border-radius:2px;transform:translateX(-50%)}
.wfmBottomSheet .icon{flex-shrink:0;position:relative;display:inline-block;vertical-align:middle;margin-right:12px;width:24px;height:24px}
.wfmBottomSheet__box{border-bottom:1px solid #ededed}
.wfmBottomSheet__box:last-of-type{border-bottom:0}
.wfmBottomSheet__title{padding:0 16px;font-size:16px;font-weight:900;color:#222;letter-spacing:-.32px;line-height:48px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmBottomSheet__title em{font-style:normal;color:#2d80cd}
.wfmBottomSheet__categoryTitle{padding:20px 16px 9px;font-size:12px;color:#939393;line-height:16px;letter-spacing:-.24px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmBottomSheet__link{position:relative;display:block;padding:0 45px 0 16px;width:100%;font-size:14px;line-height:48px;letter-spacing:-.28px;text-decoration:none;color:#222;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.wfmBottomSheet__item{position:relative;height:48px;display:flex;justify-content:normal;align-items:center}
.wfmBottomSheet__item--selected::after{content:'';position:absolute;top:50%;right:18px;transform:translateY(-50%);display:inline-block;vertical-align:top;width:18px;height:13px;background:url(/svc/wfm/img/sp_wfm.png) -218px -48px no-repeat;background-size:500px 500px;line-height:100em;color:transparent;overflow:hidden}
.wfmBottomSheet__primaryBox{margin-top:20px;display:flex;justify-content:normal;align-items:center}
.wfmBottomSheet__primaryBox .wfm__primaryBtn{flex:1}
.wfmBottomSheet__primaryBox .wfm__primaryBtn+.wfm__primaryBtn{margin-left:4px}
.wfmLinkGroup{padding:12px 16px}
.wfmLinkGroup__heading{font-size:12px;letter-spacing:-.24px;color:#939393}
.wfmLinkGroup .wfm__basicList{margin-top:12px}
.wfmEmpty{text-align:center}
.wfmEmpty__title{font-size:14px;color:#222;letter-spacing:-.28px}
.wfmEmpty__text{display:block;margin-top:5px;font-size:12px;color:#939393;letter-spacing:-.24px}
.wfm .emptyTypeComment,.wfm .emptyTypeDefault{display:flex;align-items:center;justify-content:center;padding:0}
.wfm .emptyTypeComment{height:calc(100vh - 102px)}
.wfm .emptyTypeComment .wfmEmpty::before{content:'';display:block;width:128px;height:128px;margin:0 auto 12px;background:url(/svc/wfm/img/icon_empty_01.png) no-repeat 0 0/128px 128px}
.wfm .emptyTypeDefault{height:calc(100vh - 46px);background:#fff}
.wfm .emptyTypeDefault .wfmEmpty::before{content:'';display:block;width:128px;height:128px;margin:0 auto 12px;background:url(/svc/wfm/img/icon_empty_02.png) no-repeat 0 0/128px 128px}
.wfm .emptyTypeDefault .wfmEmpty--type2::before{background-image:url(/svc/wfm/img/icon_empty_03.png)}
.wfm .emptyTypeDefault .wfmEmpty--type3::before{background-image:url(/svc/wfm/img/icon_empty_05.png)}
.wfm .emptyTypeDefault .wfmEmpty--type4::before{background-image:url(/svc/wfm/img/icon_empty_04.png)}
.wfmDialog{width:75%;max-width:300px;background:#fff;border-radius:16px;text-align:center;overflow:hidden}
.wfmDialog__content{padding:32px 12px}
.wfmDialog_wrap{position:absolute;z-index:11;top:0;bottom:0;left:0;right:0;display:flex;justify-content:center;align-items:center}
.wfmDialog__heading{margin-bottom:8px;font-size:16px;font-weight:900;line-height:21px;letter-spacing:-.32px;color:#222}
.wfmDialog__desc{margin-top:8px;font-size:14px;line-height:20px;letter-spacing:-.28px;color:#222}
.wfmDialog__btnGroup{height:44px;display:flex;justify-content:normal;align-items:center}
.wfmDialog__btn{flex:1;height:100%;border-top:1px solid #ededed;font-size:14px;letter-spacing:-.28px;color:#222}
.wfmDialog__btn+.wfmDialog__btn{border-left:1px solid #ededed}
.wfmDialog__btn:active{background:#f4f7fa;border-color:#f4f7fa}
.wfmDialog__btn:active+.wfmDialog__btn{border-left-color:#f4f7fa}
@media (max-width:385px){
.wfm__btnCategoryText{overflow:hidden!important;position:absolute!important;z-index:-1;width:1px!important;height:1px!important;border:0;clip:rect(1px 1px 1px 1px)!important;clip-path:inset(50%)}
}
/*# sourceMappingURL=../maps/wfm.css.map */
