body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
ol,ul,li {
  list-style: none;
}

.todolistWrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
}
.heading__h1 {
  position: relative;
  font-size: 42px;
  color: #333;
}
.headingArea {
  margin-bottom: 17px;
  width: 430px;
}
.headingArea .heading__h1 {
  display: inline-block;
  min-width: 125px;
  transform: rotate(-17deg);
}
.headingArea .heading__h1:before {
  content: "TodoList";
  position: absolute;
  top: -0.15rem;
  left: 0.15rem;
  color: transparent;
  -webkit-text-stroke: 0.1rem #333;
}
.headingArea .desctext {
  text-align: center;
  font-size: 13px;
  color: #c1c1c1;
}
.listArea {
  position: relative;
  width: 350px;
  height: 500px;
}
.listArea:before {
  content: '';
  position: absolute;
  top: 10px;
  right: -10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid #555;
  background: #4fcda4;
  border-radius: 10px;
  z-index: 0;
}
.listBox {
  position: relative;
  padding: 20px;
  height: 100%;
  border: 2px solid #555;
  background: #fff;
  border-radius: 10px;
  z-index: 1;
}
.heading__note {
  margin-bottom: 10px;
}
.checkIcon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  border: 1px solid #333;
  background: #fff;
  border-radius: 3px;
}
input:checked ~ .checkIcon {
  background: #333;
}
input:checked ~ .checkIcon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 6px;
  height: 3px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
.todoCount {
  margin-bottom: 5px;
  text-align: right;
  font-size: 12px;
}
.todoList {}
.todoItem {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
}
.todoItem label {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  min-width: 0;
  height: 30px;
}
.todoItem input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.todoItem .checkIcon {
  flex-shrink: 0;
  margin-right: 7px;
}
.todoItem .labelText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.todoItem .btnDel {
  position: relative;
  width: 20px;
  height: 20px;
  border: 0;
  background: none;
  font-size: 0;
  color: transparent;
}
.todoItem .btnDel:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 1px;
  background: #333;
  transform: rotate(45deg);
}
.todoItem .btnDel:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 1px;
  background: #333;
  transform: rotate(-45deg);
}
.createArea {
  position: relative;
  margin-top: 20px;
}
.inputItem {
  display: inline-block;
  padding: 0 37px 0 13px;
  width: 100%;
  height: 35px;
  border: 1px dashed #333;
  background: none;
  border-radius: 20px;
}
.btnEnter {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -13px;
  width: 26px;
  height: 26px;
  border: 0;
  background: #333;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
  color: transparent;
  overflow: hidden;
}
.btnEnter:hover .arrowIcon {
  transform: translateX(20px);
  animation: moveRight .9s ease infinite;
  animation-delay: .5s;
}
.btnEnter .arrowIcon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
  width: 10px;
  height: 1px;
  background-color: #fff;
  transition: all ease .5s;
}
.btnEnter .arrowIcon:before {
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  width: 6px;
  height: 6px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@keyframes moveRight {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}