.svm {
  .title {
    // title--h1
    &--h1 {
      font-size: 18px;
      font-weight: 900;
      line-height: 24px;
      letter-spacing: -.27px;
      color: #232323;
    }
  }
  .surveyTitle {
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -.33px;
    color: #232323;

    // surveyTitle__desc
    &__desc {
      margin-top: 8px;
      font-size: 12px;
      letter-spacing: -.18px;
      color: #a8a8a8;
    }

    // surveyTitle--content
    &--content {
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -.21px;
      font-weight: 900;
      color: #232323;
    }
  }

  .empText {
    color: #127eff;
  }

  .label {
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
    height: 22px;
    background: #ddd;
    border-radius: 15px;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    line-height: 23px;
    letter-spacing: -.17px;
    color: #fff;

    // label--blue
    &--blue {
      background-color: #4d93ff;
    }

    // label--purple
    &--purple {
      background-color: #a454f4;
    }

    // label--lineGreen
    &--lineGreen {
      border: 1px solid $green;
      background-color: transparent;
      color: $green;
    }

    // label--lineRed
    &--lineRed {
      border: 1px solid $red;
      background-color: transparent;
      color: $red;
    }


    // label--dday
    &--dday {
      padding: 0 6px;
      height: 16px;
      border: 1px solid $red;
      background-color: #fff;
      font-size: 9px;
      line-height: 16px;
      letter-spacing: -.14px;
      color: $red;
    }
  }

  .icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    color: transparent;
    overflow: hidden;

    // icon-userss
    &--userss {
      width: 18px;
      height: 18px;
      &::before {
        content: '';
        @include absolSp(12px, 12px, 0, -18px);
      }
    }

    // icon--replyss
    &--replyss {
      width: 18px;
      height: 18px;
      &::before {
        content: '';
        @include absolSp(13px, 13px, 0, 0);
      }
    }

    // icon--checkin
    &--checkin {
      width: 16px;
      height: 16px;
      &::before {
        content: '';
        @include absolSp(16px, 16px, -76px, -34px);
      }
    }

    // icon--arrow
    &--arrow {
      width: 18px;
      height: 18px;
      &::before {
        content: '';
        @include absolSp(14px, 8px, -137px, -18px);
      }
    }

    // icon--arrowss
    &--arrowss {
      width: 12px;
      height: 12px;
      &::before {
        content: '';
        @include absolSp(5px, 8px, -128px, -14px);
      }
    }

    // icon--close
    &--close {
      width: 24px;
      height: 24px;
      &::before {
        content: '';
        @include absolSp(14px, 14px, -178px, 0);
      }
    }

    // icon--user
    &--user {
      width: 24px;
      height: 24px;
      &::before {
        content: '';
        @include absolSp(20px, 21px, -84px, 0);
      }
    }

    // icon--share
    &--share {
      width: 24px;
      height: 24px;
      &::before {
        content: '';
        @include absolSp(18px, 21px, -61px, 0);
      }
    }

    // icon--back
    &--back {
      width: 24px;
      height: 24px;
      &::before {
        content: '';
        @include absolSp(18px, 14px, -197px, 0);
      }
    }

    // icon--doubleCheck
    &--doubleCheck {
      width: 18px;
      height: 18px;
      &::before {
        content: '';
        @include absolSp(15px, 10px, -18px, 0);
      }
    }

    // icon--arrowLeft
    &--arrowLeft {
      width: 18px;
      height: 18px;
      &::before {
        content: '';
        @include absolSp(12px, 9px, -156px, -18px);
      }
    }

    // icon--arrowRight
    &--arrowRight {
      width: 18px;
      height: 18px;
      &::before {
        content: '';
        @include absolSp(12px, 9px, -171px, -18px);
      }
    }

    // icon--arrowToggle
    &--arrowToggle {
      width: 18px;
      height: 18px;
      &::before {
        content: '';
        @include absolSp(10px, 6px, -18px, -15px);
      }
    }

    // icon--submit
    &--submit {
      width: 24px;
      height: 24px;
      &::before {
        content: '';
        @include absolSp(16px, 18px, -220px, 0);
      }
    }

    // icon--arrowMove
    &--arrowMove {
      width: 18px;
      height: 18px;
      &::before {
        content: '';
        @include absolSp(7px, 13px, -189px, -18px);
      }
    }
  }

  .boardThumb {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 70px;
    height: 48px;
    background: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;

    // boardThumb__img
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      color: transparent;
    }
  }

  .thumbGroup {
    display: inline-block;
    vertical-align: top;
  }

  .profileThumb {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background: #f0f0f0;
    border-radius: 50%;
    overflow: hidden;

    // profileThumb__img
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      color: transparent;
    }
  }

}