@charset "utf-8";
/* Common css */
*{box-sizing:border-box;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,img,button,select{margin:0;padding:0}
body,button,input,select,table,textarea{font-family:'굴림',gulim,helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul','새굴림',sans-serif;}
label,button{cursor:pointer;}
button{border:none;background:none;}
a{color:#1a1a1a;}
em,address{font-style:normal;}
ul,ol,li{list-style:none;}
.blind{position:absolute !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-1px !important;overflow:hidden !important;}

/* douzone font */
@font-face {
    font-family: 'douzone';
    src: url('https://static.wehago.com/fonts/douzone/DOUZONEText10.woff2') format('woff2'),
    url('https://static.wehago.com/fonts/douzone/DOUZONEText10.woff') format('woff');
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'douzone';
    src: url('https://static.wehago.com/fonts/douzone/DOUZONEText30.woff2') format('woff2'),
    url('https://static.wehago.com/fonts/douzone/DOUZONEText30.woff') format('woff');
    font-weight: bold;
    font-display: fallback;
}
@font-face {
    font-family: 'douzone';
    src: url('https://static.wehago.com/fonts/douzone/DOUZONEText50.woff2') format('woff2'),
    url('https://static.wehago.com/fonts/douzone/DOUZONEText50.woff') format('woff');
    font-weight: 900;
    font-display: fallback;
}
@font-face {
    font-family: 'douzonetitle';
    src: url('https://static.wehago.com/fonts/douzone/DOUZONETitle30.woff2') format('woff2'),
    url('https://static.wehago.com/fonts/douzone/DOUZONETitle30.woff') format('woff');
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'douzonetitle';
    src: url('https://static.wehago.com/fonts/douzone/DOUZONETitle50.woff2') format('woff2'),
    url('https://static.wehago.com/fonts/douzone/DOUZONETitle50.woff') format('woff');
    font-weight: bold;
    font-display: fallback;
}