.wfmBoardGuide {
  .wfm__visualBox {
    display: block;
    padding: 16px 16px 60px;
    &::before {
      bottom: -12px;
    }
  }
  .boardName {
    display: block;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -.36px;
    color: #fff;
  }
  .boardIntro {
    margin-top: 8px;
    font-size: 12px;
    letter-spacing: -.24px;
    line-height: 18px;
    color: #fff;
  }

  &__stat {
    // wfmBoardGuide__statBox
    &Box {
      position: relative;
      margin-top: -36px;
      padding: $paddingSide;
    }

    // wfmBoardGuide__statList
    &List {
      height: 72px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
      @include flex(flex, normal, center)
    }

    // wfmBoardGuide__statItem
    &Item {
      flex: 1;
      flex-direction: column-reverse;
      position: relative;
      padding: 0 15px;
      @include flex(flex, normal,center);
      &:not(:first-of-type){
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 16px;
          background: #e5e5e5;
          transform: translateY(-50%);
        }
      }
    }

    // wfmBoardGuide__statTerm
    &Term {
      margin-top: 4px;
      font-size: 12px;
      color: #222;
    }

    // wfmBoardGuide__statDesc
    &Desc {
      font-size: 14px;
      font-weight: 700;
      color: $blue;
    }
  }

  // wfmProfileList
  .wfmProfileList {
    margin-top: 20px;

    .wfmProfile {
      padding: $paddingSide;
      height: 64px;
    }

    .wfmProfile__item {
      margin-left: 12px;
    }
  }
}