.wfmCategory {
  position: relative;
  background: #f5f5f5;

  // wfmCategory__list
  &__list {
    background: #fff;

    + .wfmCategory__list {
      margin-top: 8px;
    }

    // wfmCategory__list--group
    &--group {
      > .wfmCategory__item {
        display: block;
        height: auto;
      }
      > .wfmCategory__item:not(:first-of-type) {
        border-top: 1px solid #ededed;
      }
    }
  }

  // wfmCategory__item
  &__item {
    position: relative;
    height: 48px;
  }

  // wfmCategory__link
  &__link {
    position: relative;
    padding: 0 45px 0 16px;
    text-decoration: none;
    font-size: 14px;
    line-height: 48px;
    color: #222;
    @include flex(flex, normal, center);

    // wfmCategory__link--has
    &--has {
      height: 48px;
      font-weight: 900;
      @include flex(flex, normal, center);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -4px;
        transition: all ease .25s;
        @include spbg(13px, 7px, -158px, -48px);

        .wfmCategory__item--active & {
          transform: rotate(-180deg);
        }
      }
    }
  }

  // wfmCategory__title
  &__title {
    @include ellipsis;
  }

  .wfm__badge {
    float: right;
    margin-top: 15px;
    margin-left: 4px;
  }
}