* {
  font-family: $dzFont;
}
.blind {
  @include blind;
}
.blindInline {
  @include blind-inline;
}

// wfmColor
.wfmColor {

  // wfmColor--blue
  &--blue {
    color: $blue;
  }

  // wfmColor--red
  &--red {
    color: $red;
  }

  // wfmColor--orange
  &--orange {
    color: $orange;
  }

  // wfmColor--green
  &--green {
    color: $green;
  }
}

// wfmEmp
.wfmEmp {
  color: $blue !important;
}


.wfm {
  // basictxt
  .basictxt {
    font-size: 14px;
    font-weight: 700;
    color: #222;
  }

  // wfm__badge
  &__badge {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    height: 16px;
    background: #fc5356;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    line-height: 17px;
    color: #fff;
  }

  // wfm__label
  &__label {
    display: inline-block;
    vertical-align: top;
    padding: 0 4px;
    height: 18px;
    border: 1px solid #999;
    background: #999;
    border-radius: 4px;
    font-size: 12px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: -.24px;
    color: #fff;

    // wfm__label--notice
    &--notice {
      border-color: #ffebeb;
      background-color: #ffebeb;
      color: #fc5356;
    }

    //  wfm__label--master
    &--master {
      border-color: #dd9c0b;
      background-color: #fff;
      color: #dd9c0b;
    }
  }

  // wfm__required
  &__required {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 15px;
    color: transparent;
    overflow: hidden;
    &::before {
      content: '*';
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: right;
      font-size: 12px;
      color: $red;
    }
  }

  // wfm__basicBtn
  &__basicBtn {
    padding: 0 12px;
    height: 32px;
    border: 1px solid #ededed;
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: -.24px;
    color: #939393;

    // wfm__basicBtn--round
    &--round {
      border-radius: 20px;
    }
    // wfm__basicBtn--active
    &--active {
      background-color: #2d80cd;
      box-shadow: 0 2px 4px 0 rgba(0, 94, 221, .2);
      color: #fff;
    }
  }

  // wfm__primaryBtn
  &__primaryBtn {
    padding: 0 24px;
    height: 48px;
    border: 1px solid #ededed;
    background: #fff;
    border-radius: 8px;
    font-size: 14px;
    line-height: 33px;
    letter-spacing: -.24px;
    color: #939393;

    // wfm__primaryBtn--round
    &--round {
      border-radius: 20px;
    }
    // wfm__primaryBtn--blue
    &--blue {
      border-color: $blue;
      background-color: $blue;
      color: #fff;
    }
  }

  // wfm__selectBox
  &__selectBox {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      @include spbg(9px, 5px, -175px, -48px);
    }
  }

  // wfm__select
  &__select {
    position: relative;
    padding: 0 15px 0 8px;
    height: 32px;
    border: 0;
    font-size: 14px;
    color: #222;
    outline: 0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }

  // wfm__moreToggle
  &__moreToggle {
    position: relative;
    padding: 3px 18px 3px 10px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -3px;
      @include spbg(9px, 5px, -175px, -48px);
    }

    // wfm__moreToggle--open
    &--open {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  // wfmHeader
  &Header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    padding: $paddingSide;
    height: $headerHeight;
    background: #2d80cd;
    @include flex(flex,space-b,center);

    // wfmHeader__wrap
    &__wrap {
      padding-bottom: $headerHeight;
    }

    // wfmHeader__box
    &__box {
      @include flex(flex,normal,center)
    }

    // wfmHeader__link
    &__link {
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
    }

    // wfmHeader__logo
    &__logo {
      transform: translateY(-1px);
      @include spwfm(22px, 21px, -384px, 0);

      // wfmHeader__logo--back
      &--back {
        margin-top: 4px;
        @include spwfm(18px, 16px, -91px,0);
      }

      //wfmHeader__logo--close
      &--close {
        margin-top: 3px;
        @include spwfm(16px, 16px, -23px, 0);
      }
    }

    // wfmHeader__title
    &__title {
      position: relative;
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      &::before {
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 0 8px 0 8px;
        width: 1px;
        height: 22px;
        background: rgba(255, 255, 255, .24);
      }

      // wfmHeader__title--emp
      &--emp {
        margin-left: 4px;
        font-weight: 700;
      }
    }
  }

  // wfm__btnGnb
  &__btnGnb {
    position: relative;
    width: 25px;
    height: 25px;
    color: transparent;
    overflow: hidden;
    &::before {
      content: '';
      @include absolCnt;
      @include spbg(18px, 16px, 0, 0);
    }
  }

  // wfm__btnGuide
  &__btnGuide {
    position: relative;
    width: 25px;
    height: 25px;
    color: transparent;
    overflow: hidden;
    &::before {
      content: '';
      @include absolCnt;
      @include spbg(20px, 20px, -360px, 0);
    }
  }

  // wfm__btnHome
  &__btnHome {
    position: relative;
    width: 25px;
    height: 25px;
    color: transparent;
    overflow: hidden;
    &::before {
      content: '';
      @include absolCnt;
      @include spbg(18px, 19px, -43px, 0);
    }
  }

  // wfm__btnUserWrite
  &__btnUserWrite {
    position: relative;
    width: 25px;
    height: 25px;
    color: transparent;
    overflow: hidden;
    &::before {
      content: '';
      @include absolCnt;
      @include spbg(21px, 18px, -66px, 0);
    }
  }

  // wfm__btnLike
  &__btnLike {
    font-size: 14px;

    // wfm__btnLike--active
    &--active {
      font-weight: 700;
      color: $red;

      .icon--heart {
        @include spwfm(20px, 18px, -336px, 0);
      }
      .icon--heartss {
        @include spwfm(16px, 14px, -39px, -48px);
      }
    }
  }

  // wfm__btnText
  &__btnText {
    padding: 4px;
    border: 0;
    background: transparent;
    font-size: 16px;
    color: #fff;
  }

  // wfm__btnEnd
  &__btnEnd {
    font-size: 12px;
    color: #2d80cd;
    text-decoration: underline;
    letter-spacing: -.24px;
  }

  // wfm__divideLine
  &__divideLine {
    width: 1px;
    height: 10px;
    margin: 0 7px;
    background-color: #e5e5e5;
  }

  // wfm__sticky
  &__sticky {
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;

    // wfm__sticky--top46
    &--top46 {
      top: 46px;
    }
  }

  // wfmDivide
  &Divide {
    @include flex(flex, space-b, center);

    // wfmDivide__item
    &__item {
      min-width: 0;
      + .wfmDivide__item {
        flex-shrink: 0;
      }
    }
  }

  //wfm__visualBox
  &__visualBox {
    position: relative;
    padding: $paddingSide;
    min-height: 98px;
    background: #2d80cd;
    overflow: hidden;
    @include flex(flex, normal, center);
    &::before {
      content: '';
      position: absolute;
      bottom: -45px;
      left: 0;
      width: 70px;
      height: 79px;
      background-image: url(/svc/wfm/img/visual_pattern_left.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 154px;
      height: 186px;
      background-image: url(/svc/wfm/img/visual_pattern_right.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  // wfm__thumbIcon
  &__thumbIcon {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }

  // wfm__thumbImgBox
  &__thumbImgBox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    background: #deefff;
    border-radius: inherit;
    overflow: hidden;
  }

  // wfm__thumbImg
  &__thumbImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;

    //wfm__thumbImg--user
    &--user {
      &::before {
        content: '';
        @include absolCnt;
        @include spbg(19px, 19px, -183px, 0);
      }
    }

    // wfm__thumbImg--comp
    &--comp {
      &::before {
        content: '';
        @include absolCnt;
        @include spbg(18px, 19px, -206px, 0);
      }
    }
  }

  // wfm__searchBar
  &__searchBar {
    position: relative;
    width: 178px;
    height: 36px;

    // wfm__searchBarInput
    &Input {
      padding: 0 45px 0 12px;
      width: 100%;
      height: 100%;
      border: 1px solid #ededed;
      background: #fff;
      border-radius: 25px;
      font-size: 14px;
      color: #4a4a4a;
      outline: 0;
      &::placeholder {
        color: #71879d;
      }
    }

    // wfm__searchBarBtn
    &Btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 35px;
      color: transparent;
      overflow: hidden;

      &::before {
        content: '';
        @include absolCnt;
        @include spbg(14px, 14px, -108px, -48px);
      }
    }
  }

  // wfm__btnSubmit
  &__btnSubmit {
    font-size: 16px;
    color: #fff;
    letter-spacing: -.32px;
  }

  // wfm__btnVote
  &__btnVote {
    position: relative;
    font-size: 14px;
    color: #2d80cd;
    letter-spacing: -.28px;
    &::after {
      content: '';
      margin-top: 4px;
      margin-left: 6px;
      @include spwfm(5px, 9px, -188px, -48px);
    }
  }

  // wfm__btnBoardSelect
  &__btnBoardSelect {
    position: relative;
    width: 100%;
    min-height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    border: 0;
    background-color: transparent;
    font-size: 14px;
    color: #b4b4b4;
    letter-spacing: -.28px;
    appearance: none;
    text-align: left;
    box-sizing: border-box;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 21px;
      transform: translateY(-50%);
      @include spwfm(13px, 7px, -158px, -48px);
    }
    em {
      font-style: normal;
      color: #2d80cd;
    }
  }

  // wfm__btnBoardadd
  &__btnBoardadd {
    position: relative;
    padding-left: 43px;
    padding-right: 16px;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    text-align: left;
    font-size: 14px;
    letter-spacing: -.28px;
    color: #b4b4b4;

    &::before {
      content: '';
      position: absolute;
      top: 16px;
      left: 14px;
      @include spbg(14px, 14px, -341px, -24px);
    }
  }

  // wfm__btnDatepick
  &__btnDatepick {
    position: relative;
    padding-left: 52px;
    padding-right: 16px;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    text-align: left;
    font-size: 14px;
    letter-spacing: -.28px;

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 19px;
      @include spbg(18px, 19px, -241px, -22px);
    }

    // wfm__btnDatepick--right
    &--right {
      position: relative;
      font-size: 14px;
      letter-spacing: -.28px;
      color: #222;
      &::after {
        content: '';
        margin-top: 6px;
        margin-left: 4px;
        @include spwfm(9px, 5px, -175px, -48px);
      }
    }

    // wfm__btnDatepick--picked
    &--picked {
      padding-left: 52px;
      padding-right: 30px;
      height: 48px;
      background: #f7f8fa;
      font-size: 14px;
      color: #222;
      @include flex(flex, space-b, center);
    }
  }

  // wfm__btnFileAdd
  &__btnFileAdd {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    padding: 24px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 19px;
      transform: translateY(-50%);
      @include spwfm(18px, 19px, -197px, -48px);
    }
  }

  // wfm__btnMore
  &__btnMore {
    position: relative;
    width: 24px;
    height: 24px;
    &::before {
      content: '';
      @include spwfm(4px, 18px, -304px, 0);
    }

    // wfm__btnMore--gray
    &--gray {
      &::before {
        content: '';
        @include absolCnt;
        @include spbg(4px, 18px, -296px, 0);
      }
    }
  }

  // wfm__btnSwitch
  &__btnSwitch {
    .switchInput {
      opacity: 0;
      position: absolute;
      &:checked {
        ~ {
          .switchIcon {
            background-color: #2d80cd;
            &::before {
              left: auto;
              right: 2px;
            }
          }
        }
      }
    }
    .switchIcon {
      display: inline-block;
      position: relative;
      width: 44px;
      height: 24px;
      background-color: #d3d3d3;
      border-radius: 20px;
      line-height: 24px;
      vertical-align: middle;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 2px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #fff;
        transform: translateY(-50%);
      }
    }
  }

  // wfm__btnLink
  &__btnLink {
    width: 24px;
    height: 24px;
    &::before {
      content: '';
      @include spwfm(20px, 20px, -190px, -22px);
    }
  }

  // wfm__btnPhoto
  &__btnPhoto {
    position: relative;
    width: 50px;
    height: 48px;
    color: transparent;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include spbg(20px, 18px, -380px, -24px);
    }
  }

  // wfm__tab
  &__tab {
    position: relative;
    padding: $paddingSide;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #ededed;
    @include flex(flex, normal, center);
  }
  /*
  &__tab {
    position: relative;
    padding: $paddingSide;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #ededed;
    @include flex(flex, normal, center);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 33.3333%;
      height: 2px;
      background: #2d80cd;
      transition: all ease .2s;
      transform: translateX(0);
      margin-left:0;
    }
    &.move1 {
      &::before {
        margin-left: 33.3333%
      }
    }
    &.move2 {
      &::before {
        margin-left: 66.6666%
      }
    }
  }

  */

  // wfm__tabBtn
  &__tabBtn {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    letter-spacing: -.28px;
    color: #b4b4b4;
    @include flex(flex, center, center);

    // wfm__tabBtn--active
    &--active {
      font-weight: 700;
      color: #2d80cd;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 2px;
        background: #2d80cd;
      }
    }
  }

  // wfm__rowList
  &__rowList {
    font-size: 12px;
    letter-spacing: -.24px;
    color: #939393;
    @include flex(flex, normal, center);

    // wfm__rowListItem
    &Item {
      position: relative;
      min-width: 0;

      @include flex(flex, normal, center);

      + .wfm__rowListItem:before {
        content: '';
        display: inline-block;
        margin: -2px 8px 0 8px;
        width: 1px;
        height: 11px;
        background: #e5e5e5;
      }
    }

    // wfm__rowListDesc
    &Desc {
      min-width: 0;
      @include ellipsis;
    }

    // .wfmDivide__item .wfm__rowList
    .wfmDivide__item & {
      margin-top: 4px;
    }
  }

  // wfmProfile
  &Profile {
    min-width: 0;
    text-decoration: none;
    color: #222;
    @include flex(flex, normal, center);

    // wfmProfileList
    &List {
      margin-top: 4px;
    }

    // wfmProfile__item
    &__item {
      min-width: 0;
    }

    // wfmProfile__thumb
    &__thumb {
      flex-shrink: 0;
      border-radius: 50%;
    }

    // wfmProfile__info
    &__info {
      @include flex(flex, normal, center);

      .wfmReply__replyDesc {
        margin-top: 0;
      }
    }

    // wfmProfile__name
    &__name {
      font-size: 14px;
      font-weight: 700;
      @include ellipsis;

      + .wfm__label {
        flex-shrink: 0;
        margin-left: 4px;
      }
    }

    // .wfmProfile__num
    &__num {
      margin-left: 4px;
    }

    // wfmProfile__date
    &__date {
      flex-shrink: 0;
      margin-top: 1px;
      font-size: 12px;
      color: #939393;
      letter-spacing: -.24px;
    }

    &__divideLine {
      display: inline-block;
      width: 1px;
      height: 10px;
      margin: 0 8px 0 6px;
      background-color: #e5e5e5;
    }

    // wfmProfile__subInfo
    &__subInfo {
      margin-top: 4px;
      font-size: 11px;
      color: #666;
      @include ellipsis;
    }

    // .wfmProfileList__group .wfmProfile
    .wfmProfileList__group & {
      padding: 0 16px;
      height: 64px;

      // .wfmProfileList__group .wfmProfile .wfmProfile__item
      .wfmProfile__item {
        margin-left: 12px;
      }
    }
  }

  // wfmInfoList
  &InfoList {

    // wfmInfoList__group
    &__group {}

    // wfmInfoList__item
    &__item {
      padding: 12px 0 10px 0;
      &:not(:first-of-type) {
        border-top: 1px solid #ededed;
      }
    }

    // wfmInfoList__term
    &__term {
      margin-bottom: 8px;
      font-size: 12px;
      letter-spacing: -.24px;
      color: #939393;
    }

    // wfmInfoList__desc
    &__desc {
      font-size: 14px;
      letter-spacing: -.28px;
      color: #222;
    }
  }

  // wfmReply
  &Reply {

    // wfmReply__replyGroup
    &__replyGroup {
      position: relative;
      margin-top: 5px;
      padding-left: 40px;

      + .wfmReply__replyGroup {
        margin-top: 27px;
      }

      .wfmProfile__thumb {
        position: absolute;
        top: -5px;
        left: 0;
      }
      .wfm__btnMore--gray {
        flex-shrink: 0;
        margin-left: 10px;
        color: transparent;
        overflow: hidden;
      }
      .wfmBoard__attach {
        margin-top: 8px;
        padding: 0;
        li {
          &:not(:first-of-type) {
            margin-top: 4px;
            border-top: 0;
          }
          a {
            padding: 7px 30px 6px;
          }
          .attachIcon {
            top: 6px;
          }
        }
      }
      .btnBox {
        margin-top: 4px;
        @include flex(flex, normal, center);
      }
      .btnAnswer {
        height: 20px;
        border: 0;
        background: 0;
        font-size: 12px;
        color: #71879d;
      }

      // .wfmReply__replyGroup .wfmReply__replyGroup
      .wfmReply__replyGroup {
        margin-top: 25px;
        padding-left: 32px;
        .wfmProfile__thumb {
          top: -1px;
        }
      }

      .wfm__btnLike {
        padding: 0 5px;
        height: 21px;
        font-size: 12px;

        .icon--heartss {
          margin-top: 1px;
          margin-right: 4px;
        }
      }
    }

    // wfmReply__replyDesc
    &__replyDesc {
      margin-top: 8px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.28px;
      color: #222;
    }

    // wfmReply__inputGroup
    &__inputGroup {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      border-top: 1px solid #efefef;
      background: #fff;
    }

    // wfmReply__file
    &__file {
      position: absolute;
      bottom: 0;
      left: 8px;
      width: 35px;
      height: 56px;
      &::before {
        content: '';
        @include absolCnt;
        @include spbg(18px, 19px, -144px, -22px);
      }

      // wfmReply__file--active
      &--active {
        &::before {
          @include spbg(18px, 19px, -167px, -22px);
        }
      }
    }

    // wfmReply__inputBox
    &__inputBox {
      padding: 17px 50px 18px 45px;
      min-height: 55px;
    }

    // wfmReply__input
    &__input {
      padding: 0 7px 0 2px;
      max-height: 110px;
      overflow-y: auto;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.28px;
      color: #222;
      word-break: break-all;
      outline: 0;
    }

    // wfmReply__placeholder
    &__placeholder {
      font-size: 14px;
      color: #b4b4b4;
    }

    // wfmReply__submit
    &__submit {
      position: absolute;
      bottom: 0;
      right: 6px;
      width: 45px;
      height: 56px;
      font-size: 14px;
      font-weight: 700;
      color: #b4b4b4;
    }
  }

  // wfmPhotoList
  &PhotoList {
    overflow-x: auto;
    white-space: nowrap;

    // wfmPhotoList__item
    &__item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;
      width: 120px;
      height: 120px;
      border: 1px solid rgba(0, 0, 0, .16);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      &:not(:first-of-type) {
        margin-left: 12px;
      }
    }

    // wfmPhotoList__btnDel
    &__btnDel {
      position: absolute;
      top: -18px;
      right: -18px;
      width: 36px;
      height: 36px;
      &::before {
        content: '';
        @include absolCnt;
        @include spbg(26px, 26px, -433px, -24px);
      }
    }
  }

  // wfmVoteBox
  &VoteBox {
    border-top: 1px solid #ededed;
  }
  // wfmWrtingVote
  &WrtingVote {
    margin: 16px 16px 0;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
  }
  // wfmVoteList
  &VoteList {
    flex: 1;
    min-height: 48px;
    padding: 0 16px;
    box-sizing: border-box;
    // wfmVoteList__box
    &__box {
      padding: 16px;
      background-color: #f7f8fa;
      border-top: 1px solid #ededed;
      li {
        position: relative;
        margin-top: 8px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        &:first-of-type {
          margin-top: 0;
        }
        a {
          display: block;
          text-decoration: none;
        }
      }
    }
    // wfmVoteList__item
    &__item {
      position: relative;
      padding: 11px 16px 11px 42px;
      box-sizing: border-box;
      &::before {
        content: '';
        position: absolute;
        top: 13px;
        left: 18px;
        @include spbg(14px, 14px, -125px, -48px);
      }
    }
    // wfmVoteList__title
    &__title {
      font-size: 14px;
      font-weight: 700;
      color: #222;
      letter-spacing: -.28px;
      @include ellipsis;
    }
    // wfmVoteList__guide
    &__guide {
      display: block;
      margin-top: 2px;
      font-size: 11px;
      font-weight: 400;
      color: #939393;
      letter-spacing: -.22px;
    }
    // wfmVoteList__date
    &__date {
      display: flex;
      align-items: center;
      margin-top: 8px;
    }
    // wfmVoteList__label
    &__label {
      min-width: 34px;
      margin-right: 4px;
      padding: 2px 4px 1px;
      border-radius: 8px;
      background-color: #2d80cd;
      font-size: 10px;
      color: #fff;
      letter-spacing: -.2px;
      text-align: center;
      &--end {
        background-color: #d3d3d3;
      }
    }
    // wfmVoteList__day
    &__day {
      font-size: 11px;
      color: #939393;
      letter-spacing: -.22px;
    }
    // wfmVoteList__select
    &__select {
      label {
        display: inline-block;
      }
      .voteCheckIcon {
        width: 18px;
        height: 18px;
        @include spwfm(18px, 18px, -229px, 0);
      }
      input {
        &:checked {
          & + .voteCheckIcon {
            background-position: -273px 0;
          }
        }
      }
      li {
        display: flex;
        align-items: center;
        min-height: 52px;
        padding: 0 16px;
        border-top: 1px solid #ededed;
        box-sizing: border-box;
        &.checked {
          .wfmVoteList__title {
            color: #2d80cd;
            font-weight: 700;
          }
          .wfmVoteList__stats {
            em {
              color: #2d80cd;
            }
          }
        }
        &.disabled {
          .voteCheckIcon {
            background-position: -251px 0;
          }
        }
      }
    }
    // wfmVoteList__check
    &__check {
      width: 18px;
      height: 18px;
      margin-right: 12px;
    }
    // wfmVoteList__result
    &__result {
      flex: 1;
    }
    // wfmVoteList__info
    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    // wfmVoteList__stats
    &__stats {
      position: relative;
      padding-right: 13px;
      font-size: 12px;
      color: #939393;
      letter-spacing: -.24px;
      text-decoration: none;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -3px;
        transform: rotate(270deg);
        @include spwfm(9px, 5px, -175px, -48px);
      }
      em {
        font-style: normal;
        font-weight: 700;
        color: #222;
      }
    }
    // wfmVoteList__bar
    &__bar {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 4px;
      margin-top: 5px;
      border-radius: 2px;
      background-color: #e5e5e5;
    }
    // wfmVoteList__percent
    &__percent {
      display: inline-block;
      position: relative;
      height: 4px;
      background-color: #2d80cd;
      vertical-align: top;
    }
  }
  &PageList {
    li {
      border-top: 1px solid #ededed;
    }
    a {
      display: block;
      padding: 0 16px;
      font-size: 14px;
      color: #222;
      text-decoration: none;
      letter-spacing: -.28px;
      box-sizing: border-box;
    }
    &__item {
      display: flex;
      align-items: center;
      min-height: 48px;
      font-size: 14px;
      letter-spacing: -.28px;
    }
    &__title {
      min-width: 49px;
      color: #939393;
      white-space: nowrap;
    }
    &__text {
      color: #222;
      @include ellipsis;
    }
  }
  .dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.15);
    z-index: 10;
  }

  // wfm__basicList
  &__basicList {

    // wfm__basicListItem
    &Item {
      position: relative;
      padding-left: 10px;
      font-size: 12px;
      line-height: 18px;
      color: #939393;
      &::before {
        content: '-';
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  // wfmInputBox
  &InputBox {
    position: relative;

    // wfmInputBox__inputItem
    &__inputItem {
      height: 36px;
    }

    // wfmInputBox__input
    &__input {
      padding-right: 36px;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #ddd;
      font-size: 14px;
      color: #222;
      outline: 0;
      &:focus {
        border-bottom-color: $blue;
      }
      &::placeholder {
        color: #b4b4b4;
      }

      // wfmInputBox--error
      .wfmInputBox--error & {
        border-bottom-color: $red;
      }
    }

    // wfmInputBox__btnDel
    &__btnDel {
      position: absolute;
      top: 0;
      right: 0;
      width: 36px;
      height: 36px;
      color: transparent;
      overflow: hidden;
      &::before {
        content: '';
        @include absolCnt;
        @include spbg(15px, 15px, 0, -48px);
      }
    }

    // wfmInputBox__validation
    &__validation {
      margin-top: 8px;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: -.22px;

      // .wfmInputBox--error wfmInputBox__validation
      .wfmInputBox--error & {
        color: $red;
      }
    }
  }

  // wfm__spinner
  &__spinner {
    position: fixed;
    top: 46px;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;

    // wfm__spinnerIcon
    &Icon {
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @include animation(spinner, .8s, 0s);
      @include keyframe(spinner) {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      };
    }
  }



}



