.wfm {
  // wfm__menuGroup
  &__menuGroup {
    padding: $paddingSide;
    height: 56px;
    background: #f7f8fa;
    @include flex(flex, space-b, center);
  }

  // wfm__menuBox
  &__menuBox {
    @include flex(flex, normal, center);
  }

  // wfm__btnCategory
  &__btnCategory {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #222;
    &::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      @include spbg(20px, 20px, -113px, 0);
    }

    // wfm__btnCategoryText
    &Text {
      margin-left: 7px;
    }
  }

  // wfm__btnSearch
  &__btnSearch {
    position: relative;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    &::before {
      content: '';
      @include absolCnt;
      @include spbg(19px, 19px, -137px, 0);
    }
  }

  // wfm__btnWrite
  &__btnWrite {
    position: relative;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    &::before {
      content: '';
      @include absolCnt;
      @include spbg(19px, 19px, -160px, 0);
    }
  }
}

.wfmMain {
  // wfmMain__compInfo
  &__compInfo {

    // .wfm__visualBox .wfmMain__compInfo
    .wfm__visualBox &{
      margin-left: 13px;
    }
  }

  // wfmMain__compName
  &__compName {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
  }

  // wfmMain__rowList
  &__rowList {
    margin-top: 5px;
    @include flex(flex, normal, center);

    // wfmMain__rowListItem
    &Item {
      position: relative;
      font-size: 12px;
      color: #fff;
      @include flex(flex, normal, center);
      &:not(:first-of-type)::before {
        content: '';
        display: inline-block;
        margin: -2px 5px 0 6px;
        width: 1px;
        height: 11px;
        background: #e5e5e5;
      }
    }

    // wfmMain__rowListTerm
    &Term {
      margin-right: 3px;
    }

  }

  .wfmBoard {
    margin-top: 4px;
  }


}