@media(max-width: 385px) {
  .wfm__btnCategoryText {
    overflow: hidden !important;
    position: absolute !important;
    z-index: -1;
    width: 1px !important;
    height: 1px !important;
    border: 0;
    clip: rect(1px 1px 1px 1px) !important;
    clip-path: inset(50%);
  }
}