.wfmSearch {

  // wfmSearch__topGroup
  &__topGroup {
    padding: 12px 16px 8px;
  }

  // wfmSearchBar
  &Bar {
    position: relative;

    // wfmSearchBar__input
    &__input {
      display: inline-block;
      vertical-align: top;
      padding: 0 40px;
      width: 100%;
      height: 36px;
      border: 0;
      background: #f4f7fa;
      border-radius: 20px;
      font-size: 14px;
      color: #222;
      outline: 0;
      &::placeholder {
        color: #8595aa;
      }
    }

    // wfmSearchBar__searchBtn
    &__searchBtn {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 4px;
      width: 35px;
      height: 36px;
      color: transparent;
      overflow: hidden;
      &::before {
        content: '';
        @include absolCnt;
        @include spbg(14px, 14px, -108px, -48px);
      }
    }

    // wfmSearchBar__delBtn
    &__delBtn {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 4px;
      width: 35px;
      height: 36px;
      color: transparent;
      overflow: hidden;
      &::before {
        content: '';
        @include absolCnt;
        @include spbg(15px, 15px, 0, -48px);
      }
    }
  }


}